# Identify introductions from trees

## Analysis

In [1]:
import dendropy
import pandas as pd
from tqdm.autonotebook import tqdm
tqdm.pandas()
import collections
from itertools import combinations

/var/folders/9p/n32ch__j2md_gqsf35y76y0r0000gn/T/ipykernel_12517/1979322510.py:3: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  from tqdm.autonotebook import tqdm

In [2]:
def remove_continent(x):
    if '|' in x['country']:
        return x['country']
    else:
        if len(x['country'].split(' / ')) > 1:
            return x['country'].split(' / ')[1]
        else:
            return x['country']

### Calculate distances between countries

In [3]:
country_lat_long = pd.read_csv('../datasets/gavinr_world-countries-centroids-0.2.0/dist/countries.csv')
country_lat_long

,longitude,latitude,COUNTRY,ISO,COUNTRYAFF,AFF_ISO
0,-170.700732,-14.305712,American Samoa,AS,United States,US
1,-61.984936,15.421124,United States Minor Outlying Islands,UM,United States,US
2,-161.465133,-17.435370,Cook Islands,CK,New Zealand,NZ
3,-145.255376,-13.526317,French Polynesia,PF,France,FR
4,-169.868781,-19.052309,Niue,NU,New Zealand,NZ
...,...,...,...,...,...,...
244,145.684687,15.090138,Northern Mariana Islands,MP,United States,US
245,134.566640,7.507586,Palau,PW,Palau,PW
246,98.969888,61.452643,Russian Federation,RU,Russian Federation,RU
247,-2.942967,40.030385,Spain,ES,Spain,ES
248,-15.920137,28.419248,Canarias,ES,Spain,ES

In [4]:
country_lat_long.drop(columns=['ISO', 'COUNTRYAFF', 'AFF_ISO'], inplace=True)
country_lat_long

      longitude   latitude                               COUNTRY
0   -170.700732 -14.305712                        American Samoa
1    -61.984936  15.421124  United States Minor Outlying Islands
2   -161.465133 -17.435370                          Cook Islands
3   -145.255376 -13.526317                      French Polynesia
4   -169.868781 -19.052309                                  Niue
..          ...        ...                                   ...
244  145.684687  15.090138              Northern Mariana Islands
245  134.566640   7.507586                                 Palau
246   98.969888  61.452643                    Russian Federation
247   -2.942967  40.030385                                 Spain
248  -15.920137  28.419248                              Canarias

[249 rows x 3 columns]

In [5]:
country_lat_long[country_lat_long['COUNTRY'] == 'Ireland']

    longitude   latitude  COUNTRY
86  -8.258827  53.306147  Ireland

In [6]:
country_lat_long.sort_values(by='COUNTRY').tail(100).head(50)

      longitude   latitude                           COUNTRY
106   35.208577 -17.525230                        Mozambique
228   97.086915  19.777377                           Myanmar
107   18.164513 -21.908582                           Namibia
218  166.929376  -0.522102                             Nauru
197   84.133890  28.300921                             Nepal
162    5.474577  52.137515                       Netherlands
219  166.275945 -21.253890                     New Caledonia
94    56.866654 -43.657479                       New Zealand
52   -85.016088  12.893567                         Nicaragua
133    8.868632  17.081054                             Niger
134    8.147633   9.609707                           Nigeria
4   -169.868781 -19.052309                              Niue
220  167.952596 -29.037654                    Norfolk Island
239  127.337981  40.191981                       North Korea
177   21.709989  41.594029                   North Macedonia
244  145.684687  15.090138          Northern Mariana Islands
179   16.463696  65.187111                            Norway
198   55.897030  21.080815                              Oman
199   69.088351  30.116188                          Pakistan
245  134.566640   7.507586                             Palau
147   35.030831  31.820828             Palestinian Territory
53   -80.175902   8.422312                            Panama
221  148.180396  -6.430016                  Papua New Guinea
21   -58.389064 -23.421906                          Paraguay
18   -74.114162  -8.522718                              Peru
236  121.869649  10.803250                       Philippines
5   -129.033490 -24.653807                          Pitcairn
172   19.435733  52.068481                            Poland
81   -16.832657  38.020288                          Portugal
54   -66.416588  18.210418                       Puerto Rico
200   51.197949  25.318528                             Qatar
189   25.094158  45.824549                           Romania
246   98.969888  61.452643                Russian Federation
108   29.919440  -2.014687                            Rwanda
122   55.543935 -21.119825                           Réunion
55   -63.237395  17.632513                              Saba
56   -62.830516  17.905617                  Saint Barthelemy
57   -62.978231  17.491904                   Saint Eustatius
26    -5.717392 -15.962963                      Saint Helena
58   -62.745604  17.314736             Saint Kitts and Nevis
59   -60.968951  13.895749                       Saint Lucia
60   -63.066785  18.078012                      Saint Martin
61   -56.293775  46.916907         Saint Pierre and Miquelon
62   -61.193766  13.254808  Saint Vincent and the Grenadines
6   -172.145882 -13.760751                             Samoa
173   12.461278  43.942821                        San Marino
109    6.911987   0.772833             Sao Tome and Principe
201   44.547143  24.075476                      Saudi Arabia
82   -14.610875  14.228861                           Senegal
174   20.856774  44.026799                            Serbia

Countries not in dataset or that need to be renamed to match
```
USA
Taiwan
Democratic Republic of the Congo
Hong Kong
Russia
The Bahamas
U.S. Virgin Islands
Reunion
Canary Islands
Palestine
Brunei
Crimea
Republic of the Congo
Cote d'Ivoire
```

#### Rename countries to match

In [7]:
country_lat_long.loc[country_lat_long['COUNTRY'] == 'United States', 'COUNTRY'] = 'USA'
country_lat_long.loc[country_lat_long['COUNTRY'] == 'Russian Federation', 'COUNTRY'] = 'Russia'
country_lat_long.loc[country_lat_long['COUNTRY'] == 'Congo', 'COUNTRY'] = 'Democratic Republic of the Congo'
country_lat_long.loc[country_lat_long['COUNTRY'] == 'Congo DRC', 'COUNTRY'] = 'Republic of the Congo'
country_lat_long.loc[country_lat_long['COUNTRY'] == 'Bahamas', 'COUNTRY'] = 'The Bahamas'
country_lat_long.loc[country_lat_long['COUNTRY'] == 'US Virgin Islands', 'COUNTRY'] = 'U.S. Virgin Islands'
country_lat_long.loc[country_lat_long['COUNTRY'] == 'Brunei Darussalam', 'COUNTRY'] = 'Brunei'
country_lat_long.loc[country_lat_long['COUNTRY'] == 'Côte d\'Ivoire', 'COUNTRY'] = 'Cote d\'Ivoire'

Countries not in dataset
```
Taiwan
Hong Kong
Reunion
Canary Islands
Palestine
Crimea
```

#### Add missing countries

In [182]:
#for country in strainCountryAll['country'].unique():
#    if len(country.split(' / ')) > 1:
#        if country.split(' / ')[1] not in country_lat_long['COUNTRY'].tolist():
#            print(country.split(' / ')[1])

Taiwan
Hong Kong
Reunion
Canary Islands
Palestine
Crimea

In [8]:
additional_countries = pd.DataFrame([{'longitude': 120.982, 'latitude': 23.973861, 'COUNTRY': 'Taiwan'},
                        {'longitude': 114.1372, 'latitude': 22.3453, 'COUNTRY': 'Hong Kong'},
                        {'longitude': 55.5325, 'latitude': -21.114444, 'COUNTRY': 'Reunion'},
                        {'longitude': -15.745798, 'latitude': 28.47707, 'COUNTRY': 'Canary Islands'},
                        {'longitude': 35, 'latitude': 31.4, 'COUNTRY': 'Palestine'},
                        {'longitude': 34.6, 'latitude': 45.25, 'COUNTRY': 'Crimea'},
                        {'longitude': -1.464854, 'latitude': 52.561928, 'COUNTRY': 'England'},
                        {'longitude': -4.183963, 'latitude': 56.816738, 'COUNTRY': 'Scotland'},
                        {'longitude': -3.766409, 'latitude': 52.33022, 'COUNTRY': 'Wales'},
                        {'longitude': 20.85, 'latitude': 42.55, 'COUNTRY': 'Kosovo'}])

country_lat_long = pd.concat([country_lat_long, additional_countries], ignore_index = True, axis = 0)
country_lat_long

      longitude   latitude                               COUNTRY
0   -170.700732 -14.305712                        American Samoa
1    -61.984936  15.421124  United States Minor Outlying Islands
2   -161.465133 -17.435370                          Cook Islands
3   -145.255376 -13.526317                      French Polynesia
4   -169.868781 -19.052309                                  Niue
..          ...        ...                                   ...
254   34.600000  45.250000                                Crimea
255   -1.464854  52.561928                               England
256   -4.183963  56.816738                              Scotland
257   -3.766409  52.330220                                 Wales
258   20.850000  42.550000                                Kosovo

[259 rows x 3 columns]

#### Calculate distance between countries using Haversine formula

In [9]:
# https://stackoverflow.com/a/4913653
from math import radians, cos, sin, asin, sqrt

def haversine(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance in kilometers between two points 
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians 
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])

    # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    r = 6371 # Radius of earth in kilometers. Use 3956 for miles. Determines return value units.
    return c * r

In [10]:
country_lat_long['distance_from_ireland'] = country_lat_long.apply(lambda x: haversine(x['longitude'],
                                          x['latitude'],
                                          country_lat_long[country_lat_long['COUNTRY'] == 'Ireland']['longitude'].values[0],
                                          country_lat_long[country_lat_long['COUNTRY'] == 'Ireland']['latitude'].values[0]),
                       axis=1)
country_lat_long

,longitude,latitude,COUNTRY,distance_from_ireland
0,-170.700732,-14.305712,American Samoa,15412.146132
1,-61.984936,15.421124,United States Minor Outlying Islands,6266.570625
2,-161.465133,-17.435370,Cook Islands,15402.208170
3,-145.255376,-13.526317,French Polynesia,14206.711886
4,-169.868781,-19.052309,Niue,15891.064102
...,...,...,...,...
254,34.600000,45.250000,Crimea,3182.289574
255,-1.464854,52.561928,England,462.610475
256,-4.183963,56.816738,Scotland,468.558618
257,-3.766409,52.330220,Wales,320.735659
258,20.850000,42.550000,Kosovo,2452.265860

In [11]:
country_lat_long.sort_values(by='distance_from_ireland').head(10)

     longitude   latitude         COUNTRY  distance_from_ireland
86   -8.258827  53.306147         Ireland               0.000000
87   -4.532995  54.228553     Isle of Man             265.445406
257  -3.766409  52.330220           Wales             320.735659
89   -3.156996  54.900832  United Kingdom             376.805773
255  -1.464854  52.561928         England             462.610475
256  -4.183963  56.816738        Scotland             468.558618
85   -2.576393  49.458708        Guernsey             581.490166
88   -2.129160  49.215397          Jersey             623.125265
162   5.474577  52.137515     Netherlands             932.527741
159   4.675010  50.618214         Belgium             933.661614

In [12]:
country_lat_long.rename(columns={'COUNTRY': 'country'}, inplace=True)

In [13]:
country_lat_long = country_lat_long[country_lat_long['country'] != 'United Kingdom']

### Timepoint A

In [14]:
tree1 = dendropy.Tree.get(path="../outputFiles/timepoint1_all_pastml/named.tree_timepoint1.rooted.nwk", schema="newick")
tree1

In [15]:
strainCountryTimepoint1 = pd.read_csv('../outputFiles/timepoint1.strainCountry.all.txt')
strainCountryTimepoint1

                strain              country
0       EPI_ISL_489144              England
1       EPI_ISL_489033             Scotland
2       EPI_ISL_488811              England
3       EPI_ISL_488949             Scotland
4       EPI_ISL_489023             Scotland
...                ...                  ...
103311  EPI_ISL_955999  North America / USA
103312  EPI_ISL_955987  North America / USA
103313  EPI_ISL_429770  Europe / Luxembourg
103314  EPI_ISL_429777  Europe / Luxembourg
103315  EPI_ISL_559743                Wales

[103316 rows x 2 columns]

In [16]:
strainCountryTimepoint1['strain'] = strainCountryTimepoint1['strain'].str.replace('_',' ')

In [17]:
strainCountryTimepoint1.describe()

                strain              country
count           103316               103316
unique          103316                  156
top     EPI ISL 489144  North America / USA
freq                 1                27699

In [18]:
strainCountryTimepoint1[strainCountryTimepoint1['country'].isin(['Republic of Ireland','Northern Ireland'])].groupby('country').count()

                     strain
country
Northern Ireland        633
Republic of Ireland     714

In [19]:
def find_strain_nodes(node, into_ireland_nodes, between_ireland_nodes, out_of_ireland_nodes):
    
    # Increment the appropriate counter for the strain's country
    node_country = str(node.annotations["country"])
    node_label = str(node.label)
    
    for child in node.child_nodes():
        
        child_country = str(child.annotations["country"])
        
        if node_country not in ["country='Republic of Ireland'", "country='Northern Ireland'"] and child_country in ["country='Republic of Ireland'", "country='Northern Ireland'"]:
            into_ireland_nodes.append({'node': node_label, 'parent_country': node_country, 'country': child_country})
        elif node_country in ["country='Republic of Ireland'", "country='Northern Ireland'"] and child_country not in ["country='Republic of Ireland'", "country='Northern Ireland'"]:
            out_of_ireland_nodes.append({'node': node_label, 'parent_country': node_country, 'country': child_country})
        elif node_country in ["country='Republic of Ireland'", "country='Northern Ireland'"] and child_country in ["country='Republic of Ireland'", "country='Northern Ireland'"] and node_country != child_country:
            between_ireland_nodes.append({'node': node_label, 'parent_country': node_country, 'country': child_country})
        
        find_strain_nodes(child, into_ireland_nodes, between_ireland_nodes, out_of_ireland_nodes)
        
def process_tree(tree):
    into_ireland_nodes = []
    between_ireland_nodes = []
    out_of_ireland_nodes = []
    
    find_strain_nodes(tree.seed_node, into_ireland_nodes, between_ireland_nodes, out_of_ireland_nodes)
    
    return {
        'into_ireland_nodes': into_ireland_nodes,
        'between_ireland_nodes': between_ireland_nodes,
        'out_of_ireland_nodes': out_of_ireland_nodes
    }

In [20]:
timepoint1 = process_tree(tree1)

In [18]:
### OLD CODE THAT ONLY CONSIDERS ONE NODE ABOVE

# def find_strain_nodes(strainCountry, tree):
#     roi_count = 0
#     ni_count = 0
#     into_ireland_nodes = []
#     between_ireland_nodes = []
# 
#     for strain in tqdm(strainCountry[strainCountry['country'].isin(['Republic of Ireland','Northern Ireland'])]['strain'].to_list()):
#         node = tree.find_node_with_taxon_label(strain)
#         
#         if not node:
#             continue
# 
#         # Increment the appropriate counter for the strain's country
#         if str(node.annotations["country"]) == "country='Republic of Ireland'":
#             roi_count += 1
#         elif str(node.annotations["country"]) == "country='Northern Ireland'":
#             ni_count += 1
# 
#         # Check the parent node's country
#         parent_node = node.parent_node
#         parent_country = str(parent_node.annotations["country"])
#         if parent_country not in ["country='Republic of Ireland'", "country='Northern Ireland'"]:
#             into_ireland_nodes.append({'node': str(parent_node.label), 'parent_country': parent_country, 'country': str(node.annotations["country"])})
#         elif parent_country != str(node.annotations["country"]):
#             between_ireland_nodes.append({'node': str(parent_node.label), 'parent_country': parent_country, 'country': str(node.annotations["country"])})
# 
#     return {
#         'roi_count': roi_count,
#         'ni_count': ni_count,
#         'into_ireland_nodes': into_ireland_nodes,
#         'between_ireland_nodes': between_ireland_nodes
#     }

In [19]:
#timepoint1 = find_strain_nodes(strainCountryTimepoint1, tree1)

  0%|          | 0/1347 [00:00<?, ?it/s]

In [21]:
len(timepoint1['into_ireland_nodes'])

196

In [22]:
len(list({v['node']:v for v in timepoint1['into_ireland_nodes']}.values()))

170

In [23]:
len(timepoint1['between_ireland_nodes'])

3

In [24]:
len(list({v['node']:v for v in timepoint1['between_ireland_nodes']}.values()))

3

In [25]:
len(timepoint1['out_of_ireland_nodes'])

100

In [26]:
len(list({v['node']:v for v in timepoint1['out_of_ireland_nodes']}.values()))

33

In [27]:
timepoint1['between_ireland_nodes']

[{'node': 'node 777619',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 777473',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 767334',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"}]

In [28]:
timepoint1['into_ireland_nodes'] = list({v['node']:v for v in timepoint1['into_ireland_nodes']}.values())

In [29]:
timepoint1['into_ireland_nodes'] = list(map(lambda x: {'node': x['node'].replace(' ','_'), 'country': x['country'][9:-1], 'parent_country': x['parent_country'][9:-1]}, timepoint1['into_ireland_nodes']))

In [30]:
timepoint1['into_ireland_nodes_without_ambiguousinto_ireland_nodes_without_ambiguous'] = list(filter(lambda x: "|" not in x['parent_country'], timepoint1['into_ireland_nodes']))

In [31]:
len(timepoint1['into_ireland_nodes_without_ambiguousinto_ireland_nodes_without_ambiguous'])

168

In [34]:
timepoint_1_country_counter = collections.Counter(list(map(lambda x: x['country'], timepoint1['into_ireland_nodes'])))
timepoint_1_country_frequency = timepoint_1_country_counter.most_common()
timepoint_1_country_frequency

[('Republic of Ireland', 103), ('Northern Ireland', 67)]

In [35]:
timepoint_1_roi_parent_country_counter = collections.Counter(list(map(lambda x: x['parent_country'], filter(lambda x: x['country'] == 'Republic of Ireland', timepoint1['into_ireland_nodes']))))
timepoint_1_roi_parent_country_frequency = timepoint_1_roi_parent_country_counter.most_common()
timepoint_1_roi_parent_country_frequency

[('England', 61),
 ('North America / USA', 12),
 ('Europe / Netherlands', 4),
 ('Europe / Spain', 4),
 ('Asia / China', 3),
 ('Europe / Germany', 3),
 ('Europe / France', 3),
 ('Asia / Japan', 2),
 ('Europe / Sweden', 1),
 ('Europe / Portugal', 1),
 ('Europe / Italy', 1),
 ('Europe / Belgium', 1),
 ('Asia / Bangladesh', 1),
 ('Wales', 1),
 ('Europe / Switzerland', 1),
 ('Scotland', 1),
 ('Oceania / New Zealand', 1),
 ('South America / Chile|Republic of Ireland|England', 1),
 ('Europe / Denmark', 1)]

In [36]:
timepoint_1_ni_parent_country_counter = collections.Counter(list(map(lambda x: x['parent_country'], filter(lambda x: x['country'] == 'Northern Ireland', timepoint1['into_ireland_nodes']))))
timepoint_1_ni_parent_country_frequency = timepoint_1_ni_parent_country_counter.most_common()
timepoint_1_ni_parent_country_frequency

[('England', 39),
 ('Scotland', 7),
 ('North America / USA', 5),
 ('Europe / France', 2),
 ('Asia / Japan', 2),
 ('Europe / Germany', 2),
 ('Europe / Spain', 2),
 ('Europe / Sweden', 1),
 ('Europe / Switzerland', 1),
 ('South America / Chile', 1),
 ('Oceania / Australia', 1),
 ('Europe / Netherlands', 1),
 ('Asia / China', 1),
 ('Wales', 1),
 ('Europe / Germany|Europe / Austria', 1)]

In [37]:
timepoint_1_parent_country_counter = collections.Counter(list(map(lambda x: x['parent_country'], timepoint1['into_ireland_nodes'])))
timepoint_1_parent_country_frequency = timepoint_1_parent_country_counter.most_common()
timepoint_1_parent_country_frequency

[('England', 100),
 ('North America / USA', 17),
 ('Scotland', 8),
 ('Europe / Spain', 6),
 ('Europe / France', 5),
 ('Europe / Germany', 5),
 ('Europe / Netherlands', 5),
 ('Asia / China', 4),
 ('Asia / Japan', 4),
 ('Europe / Sweden', 2),
 ('Europe / Switzerland', 2),
 ('Wales', 2),
 ('Europe / Portugal', 1),
 ('Europe / Italy', 1),
 ('Europe / Belgium', 1),
 ('South America / Chile', 1),
 ('Asia / Bangladesh', 1),
 ('Oceania / Australia', 1),
 ('Oceania / New Zealand', 1),
 ('South America / Chile|Republic of Ireland|England', 1),
 ('Europe / Germany|Europe / Austria', 1),
 ('Europe / Denmark', 1)]

In [38]:
timepoint_1_parent_country_frequency_df = pd.DataFrame(timepoint_1_parent_country_frequency, columns=['country','Both'])
timepoint_1_parent_country_frequency_df

                                              country  Both
0                                             England   100
1                                 North America / USA    17
2                                            Scotland     8
3                                      Europe / Spain     6
4                                     Europe / France     5
5                                    Europe / Germany     5
6                                Europe / Netherlands     5
7                                        Asia / China     4
8                                        Asia / Japan     4
9                                     Europe / Sweden     2
10                               Europe / Switzerland     2
11                                              Wales     2
12                                  Europe / Portugal     1
13                                     Europe / Italy     1
14                                   Europe / Belgium     1
15                              South America / Chile     1
16                                  Asia / Bangladesh     1
17                                Oceania / Australia     1
18                              Oceania / New Zealand     1
19  South America / Chile|Republic of Ireland|England     1
20                  Europe / Germany|Europe / Austria     1
21                                   Europe / Denmark     1

In [37]:
timepoint_1_parent_country_frequency_df = pd.merge(timepoint_1_parent_country_frequency_df, pd.DataFrame(timepoint_1_roi_parent_country_frequency, columns=['country','RoI']), how="left", on="country")
timepoint_1_parent_country_frequency_df = pd.merge(timepoint_1_parent_country_frequency_df, pd.DataFrame(timepoint_1_ni_parent_country_frequency, columns=['country','NI']), how="left", on="country")
timepoint_1_parent_country_frequency_df[['RoI', 'NI']] = timepoint_1_parent_country_frequency_df[['RoI', 'NI']].fillna(value=0).astype(int)

In [38]:
timepoint_1_parent_country_frequency_df['country'] = timepoint_1_parent_country_frequency_df.apply(remove_continent, axis=1)

In [40]:
timepoint_1_parent_country_frequency_df

                                              country  Both  RoI  NI
0                                             England   100   61  39
1                                                 USA    17   12   5
2                                            Scotland     8    1   7
3                                               Spain     6    4   2
4                                              France     5    3   2
5                                             Germany     5    3   2
6                                         Netherlands     5    4   1
7                                               China     4    3   1
8                                               Japan     4    2   2
9                                              Sweden     2    1   1
10                                        Switzerland     2    1   1
11                                              Wales     2    1   1
12                                           Portugal     1    1   0
13                                              Italy     1    1   0
14                                            Belgium     1    1   0
15                                              Chile     1    0   1
16                                         Bangladesh     1    1   0
17                                          Australia     1    0   1
18                                        New Zealand     1    1   0
19  South America / Chile|Republic of Ireland|England     1    1   0
20                  Europe / Germany|Europe / Austria     1    0   1
21                                            Denmark     1    1   0

In [41]:
timepoint_1_parent_country_frequency_df.to_csv('../outputFiles/timepoint_1_parent_country_frequency.csv', index=False)

In [42]:
num_country_tips = strainCountryTimepoint1.groupby('country').count().reset_index()
num_country_tips.rename(columns={'strain': 'num_tips'}, inplace=True)
num_country_tips

                       country  num_tips
0             Africa / Algeria         3
1               Africa / Benin        12
2            Africa / Botswana         1
3        Africa / Burkina Faso         6
4            Africa / Cameroon         9
..                         ...       ...
151       South America / Peru       361
152   South America / Suriname         3
153    South America / Uruguay        32
154  South America / Venezuela         8
155                      Wales      1588

[156 rows x 2 columns]

In [43]:
num_country_tips['country'] = num_country_tips.apply(remove_continent, axis=1)
num_country_tips

          country  num_tips
0         Algeria         3
1           Benin        12
2        Botswana         1
3    Burkina Faso         6
4        Cameroon         9
..            ...       ...
151          Peru       361
152      Suriname         3
153       Uruguay        32
154     Venezuela         8
155         Wales      1588

[156 rows x 2 columns]

In [44]:
timepoint_1_parent_country_frequency_df = pd.merge(num_country_tips, timepoint_1_parent_country_frequency_df, how="left", on=['country']).fillna(value=0)
timepoint_1_parent_country_frequency_df

          country  num_tips  Both  RoI   NI
0         Algeria         3   0.0  0.0  0.0
1           Benin        12   0.0  0.0  0.0
2        Botswana         1   0.0  0.0  0.0
3    Burkina Faso         6   0.0  0.0  0.0
4        Cameroon         9   0.0  0.0  0.0
..            ...       ...   ...  ...  ...
151          Peru       361   0.0  0.0  0.0
152      Suriname         3   0.0  0.0  0.0
153       Uruguay        32   0.0  0.0  0.0
154     Venezuela         8   0.0  0.0  0.0
155         Wales      1588   2.0  1.0  1.0

[156 rows x 5 columns]

In [45]:
timepoint_1_parent_country_frequency_df[~timepoint_1_parent_country_frequency_df['country'].isin(country_lat_long['country'])]

                 country  num_tips  Both  RoI   NI
115       United Kingdom         1   0.0  0.0  0.0
134     Northern Ireland       633   0.0  0.0  0.0
139  Republic of Ireland       714   0.0  0.0  0.0

In [46]:
timepoint_1_parent_country_frequency_df = pd.merge(country_lat_long, timepoint_1_parent_country_frequency_df, how="inner", on=['country'])
timepoint_1_parent_country_frequency_df

,longitude,latitude,country,distance_from_ireland,num_tips,Both,RoI,NI
0,-90.312193,15.820879,Guatemala,8079.118206,16,0.0,0.0,0.0
1,-103.120439,23.643948,Mexico,8231.394213,823,0.0,0.0,0.0
2,-93.566635,62.365872,Canada,4765.573313,8352,0.0,0.0,0.0
3,-64.443152,-37.605645,Argentina,11458.955064,425,0.0,0.0,0.0
4,-81.255450,-34.328238,Chile,12001.453231,563,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...
148,35.000000,31.400000,Palestine,4213.049700,15,0.0,0.0,0.0
149,34.600000,45.250000,Crimea,3182.289574,1,0.0,0.0,0.0
150,-1.464854,52.561928,England,462.610475,15402,100.0,61.0,39.0
151,-4.183963,56.816738,Scotland,468.558618,3898,8.0,1.0,7.0
152,-3.766409,52.330220,Wales,320.735659,1588,2.0,1.0,1.0

In [47]:
timepoint_1_parent_country_frequency_df.sort_values(by='country').tail(20)

,longitude,latitude,country,distance_from_ireland,num_tips,Both,RoI,NI
97,17.277290,62.465412,Sweden,1802.000528,1212,2.0,1.0,1.0
78,8.286929,46.736781,Switzerland,1384.606007,1388,2.0,1.0,1.0
144,120.982000,23.973861,Taiwan,10132.293495,115,0.0,0.0,0.0
132,101.068606,13.596475,Thailand,10031.273226,278,0.0,0.0,0.0
13,-75.947570,23.971981,The Bahamas,6425.676830,4,0.0,0.0,0.0
126,125.668174,-8.798840,Timor-Leste,13583.781233,7,0.0,0.0,0.0
63,0.899086,8.660743,Togo,5032.243545,22,0.0,0.0,0.0
64,9.655876,34.086362,Tunisia,2561.328971,26,0.0,0.0,0.0
73,35.095572,39.090972,Turkey,3620.542031,296,0.0,0.0,0.0
30,-64.822372,17.997412,U.S. Virgin Islands,6213.875220,19,0.0,0.0,0.0
76,-127.763857,42.464272,USA,7903.715995,27699,17.0,12.0,5.0
74,32.343718,1.282173,Uganda,6879.399360,39,0.0,0.0,0.0
107,31.273772,48.657533,Ukraine,2778.095935,24,0.0,0.0,0.0
121,54.279205,24.182503,United Arab Emirates,6066.808321,1113,0.0,0.0,0.0
10,-56.019195,-32.781950,Uruguay,10622.912302,32,0.0,0.0,0.0
31,-66.361124,7.162821,Venezuela,7293.305295,8,0.0,0.0,0.0
133,105.791103,16.374291,Vietnam,10055.914667,110,0.0,0.0,0.0
152,-3.766409,52.330220,Wales,320.735659,1588,2.0,1.0,1.0
54,27.755214,-13.162833,Zambia,8146.066966,22,0.0,0.0,0.0
55,29.717830,-18.927001,Zimbabwe,8819.077205,25,0.0,0.0,0.0

In [48]:
timepoint_1_parent_country_frequency_df.to_csv('../outputFiles/timepoint_1_parent_country_frequency_distance.csv', index=False)

In [49]:
timepoint1['into_ireland_nodes'][:5]

[{'node': 'node_1550',
  'country': 'Republic of Ireland',
  'parent_country': 'Asia / China'},
 {'node': 'node_146091',
  'country': 'Northern Ireland',
  'parent_country': 'England'},
 {'node': 'node_167432',
  'country': 'Republic of Ireland',
  'parent_country': 'North America / USA'},
 {'node': 'node_169047',
  'country': 'Northern Ireland',
  'parent_country': 'England'},
 {'node': 'node_169296',
  'country': 'Republic of Ireland',
  'parent_country': 'England'}]

In [50]:
timepoint_1_parent_country_frequency_df[timepoint_1_parent_country_frequency_df['Both'] > 0][['country','Both']].to_csv('../outputFiles/timepoint_1_country_frequency.csv', index=False)

In [51]:
def find_irish_clusters(node, list_to_append):
    for child in node.child_nodes():
        if child.taxon is not None:
            if 'Ireland' in str(child.annotations["country"]):
                list_to_append.append(str(child.taxon.label))
        if 'Ireland' in str(child.annotations["country"]):
            find_irish_clusters(child, list_to_append)

In [52]:
def find_clusters(node, list_to_append):
    for child in node.child_nodes():
        if child.taxon is not None:
            #if 'Ireland' in str(child.annotations["country"]):
            list_to_append.append(str(child.taxon.label))
        #if 'Ireland' in str(child.annotations["country"]):
        find_clusters(child, list_to_append)

In [53]:
cluster_num = 0
clusters_timepoint_a = []
for intro in tqdm(timepoint1['into_ireland_nodes']):
    cluster_num += 1
    descendant_tips = []
    find_irish_clusters(tree1.find_node_with_label(intro['node'].replace('_',' ')), descendant_tips)
    for tip in list(set(descendant_tips)):
        clusters_timepoint_a.append({'tip': tip.replace(' ','_'), 'cluster': cluster_num, 'timepoint': 'A'})

  0%|          | 0/170 [00:00<?, ?it/s]

In [54]:
clusters_timepoint_a_df = pd.DataFrame(clusters_timepoint_a)
clusters_timepoint_a_df

                   tip  cluster timepoint
0       EPI_ISL_671375        1         A
1       EPI_ISL_441714        2         A
2       EPI_ISL_644320        3         A
3       EPI_ISL_585106        4         A
4     EPI_ISL_11191573        5         A
...                ...      ...       ...
1344    EPI_ISL_605065      169         A
1345    EPI_ISL_848117      170         A
1346    EPI_ISL_644284      170         A
1347    EPI_ISL_644341      170         A
1348    EPI_ISL_848122      170         A

[1349 rows x 3 columns]

In [55]:
len(clusters_timepoint_a_df['tip'].unique())

1347

In [56]:
clusters_timepoint_a_df.groupby('cluster').count().describe()

              tip   timepoint
count  170.000000  170.000000
mean     7.935294    7.935294
std     49.380319   49.380319
min      1.000000    1.000000
25%      1.000000    1.000000
50%      1.000000    1.000000
75%      3.000000    3.000000
max    638.000000  638.000000

In [57]:
clusters_timepoint_a_df.to_csv('../outputFiles/clusters/clusters_timepoint_A.csv', index=False)

In [58]:
clusters_timepoint_a_df.groupby('cluster').count().sort_values(by='tip',ascending=False)

         tip  timepoint
cluster
67       638        638
165       65         65
162       54         54
77        45         45
102       31         31
...      ...        ...
68         1          1
65         1          1
64         1          1
63         1          1
86         1          1

[170 rows x 2 columns]

In [59]:
clusters_timepoint_a_df.groupby('cluster').count().reset_index().rename(columns={'tip':'irish_samples'})[['cluster','irish_samples']].to_csv('../outputFiles/clusters/clusters_timepoint_A_size.csv', index=False)

In [60]:
clusters_timepoint_a_df[clusters_timepoint_a_df['cluster']==72]

                tip  cluster timepoint
857  EPI_ISL_489324       72         A
858  EPI_ISL_501014       72         A
859  EPI_ISL_585107       72         A
860  EPI_ISL_448972       72         A

In [61]:
def is_parent_in_timepoint_list(node_id, tree, timepoint_list):
    node = tree.find_node_with_label(node_id)

    if node and node.parent_node:
        #print('up level')
        if str(node.parent_node.label) in list(map(lambda x: x['node'], timepoint_list)):
            parent_clusters.append(str(node.parent_node.label))
        is_parent_in_timepoint_list(node.parent_node, tree, timepoint_list)

In [62]:
for intro in tqdm(timepoint1['into_ireland_nodes']):
    parent_clusters = []
    is_parent_in_timepoint_list(intro['node'].replace('_',' '), tree1, timepoint1['into_ireland_nodes'])
    if len(parent_clusters) > 0:
        print(intro['node'])
        print(parent_clusters)

  0%|          | 0/170 [00:00<?, ?it/s]

In [63]:
cluster_num = 0
clusters_timepoint_a_full = []
for intro in tqdm(timepoint1['into_ireland_nodes']):
    cluster_num += 1
    descendant_tips = []
    find_clusters(tree1.find_node_with_label(intro['node'].replace('_',' ')), descendant_tips)
    for tip in list(set(descendant_tips)):
        clusters_timepoint_a_full.append({'tip': tip.replace(' ','_'), 'cluster': cluster_num, 'timepoint': 'A'})

  0%|          | 0/170 [00:00<?, ?it/s]

In [64]:
clusters_timepoint_a_full_df = pd.DataFrame(clusters_timepoint_a_full)
clusters_timepoint_a_full_df

                   tip  cluster timepoint
0       EPI_ISL_424261        1         A
1       EPI_ISL_463503        1         A
2       EPI_ISL_603780        1         A
3       EPI_ISL_468570        1         A
4       EPI_ISL_438194        1         A
...                ...      ...       ...
324809  EPI_ISL_461828      170         A
324810  EPI_ISL_439410      170         A
324811  EPI_ISL_440177      170         A
324812  EPI_ISL_466783      170         A
324813  EPI_ISL_471957      170         A

[324814 rows x 3 columns]

In [65]:
len(clusters_timepoint_a_full_df['tip'].unique())

103315

In [66]:
clusters_timepoint_a_full_df.groupby('cluster').count().describe()

                 tip      timepoint
count     170.000000     170.000000
mean     1910.670588    1910.670588
std     10930.661579   10930.661579
min         1.000000       1.000000
25%         4.000000       4.000000
50%        14.500000      14.500000
75%       128.500000     128.500000
max    103315.000000  103315.000000

In [67]:
clusters_timepoint_a_full_df['parent_cluster'] = pd.NA

In [68]:
cluster_pairs_overlap = []

for cluster_pair in combinations(clusters_timepoint_a_full_df['cluster'].unique().tolist(), 2):
    tip_list_1 = clusters_timepoint_a_full_df[clusters_timepoint_a_full_df['cluster'] == cluster_pair[0]]['tip'].tolist()
    tip_list_2 = clusters_timepoint_a_full_df[clusters_timepoint_a_full_df['cluster'] == cluster_pair[1]]['tip'].tolist()
    
    if len(list(set(tip_list_1 + tip_list_2))) != len(tip_list_1 + tip_list_2):
        #print(len(tip_list_1))
        #print(len(tip_list_2))
        #print(len(list(set(tip_list_1 + tip_list_2))))
        #print(len(tip_list_1 + tip_list_2))
        #print(cluster_pair)
        if len(tip_list_1) > len(tip_list_2):
            cluster_pairs_overlap.append({'parent': cluster_pair[0], 'child': cluster_pair[1]})
        elif len(tip_list_1) < len(tip_list_2):
            cluster_pairs_overlap.append({'parent': cluster_pair[1], 'child': cluster_pair[0]})
        else:
            print("cluster size the same")

In [69]:
cluster_pairs_overlap

[{'parent': 165, 'child': 1},
 {'parent': 131, 'child': 2},
 {'parent': 165, 'child': 2},
 {'parent': 3, 'child': 4},
 {'parent': 3, 'child': 5},
 {'parent': 3, 'child': 6},
 {'parent': 3, 'child': 7},
 {'parent': 3, 'child': 8},
 {'parent': 3, 'child': 9},
 {'parent': 3, 'child': 10},
 {'parent': 3, 'child': 11},
 {'parent': 3, 'child': 12},
 {'parent': 3, 'child': 13},
 {'parent': 3, 'child': 14},
 {'parent': 3, 'child': 15},
 {'parent': 3, 'child': 16},
 {'parent': 3, 'child': 17},
 {'parent': 3, 'child': 18},
 {'parent': 3, 'child': 19},
 {'parent': 3, 'child': 20},
 {'parent': 3, 'child': 21},
 {'parent': 3, 'child': 22},
 {'parent': 3, 'child': 23},
 {'parent': 3, 'child': 24},
 {'parent': 3, 'child': 25},
 {'parent': 3, 'child': 26},
 {'parent': 3, 'child': 27},
 {'parent': 3, 'child': 28},
 {'parent': 3, 'child': 29},
 {'parent': 3, 'child': 30},
 {'parent': 3, 'child': 31},
 {'parent': 3, 'child': 32},
 {'parent': 3, 'child': 33},
 {'parent': 3, 'child': 34},
 {'parent': 3, 'child': 35},
 {'parent': 3, 'child': 36},
 {'parent': 3, 'child': 37},
 {'parent': 3, 'child': 38},
 {'parent': 3, 'child': 39},
 {'parent': 3, 'child': 40},
 {'parent': 3, 'child': 41},
 {'parent': 3, 'child': 42},
 {'parent': 3, 'child': 43},
 {'parent': 3, 'child': 44},
 {'parent': 3, 'child': 45},
 {'parent': 3, 'child': 46},
 {'parent': 3, 'child': 47},
 {'parent': 3, 'child': 48},
 {'parent': 3, 'child': 49},
 {'parent': 3, 'child': 50},
 {'parent': 3, 'child': 51},
 {'parent': 3, 'child': 52},
 {'parent': 3, 'child': 53},
 {'parent': 3, 'child': 54},
 {'parent': 3, 'child': 55},
 {'parent': 3, 'child': 56},
 {'parent': 3, 'child': 57},
 {'parent': 3, 'child': 58},
 {'parent': 3, 'child': 59},
 {'parent': 3, 'child': 60},
 {'parent': 3, 'child': 61},
 {'parent': 3, 'child': 62},
 {'parent': 3, 'child': 63},
 {'parent': 3, 'child': 64},
 {'parent': 3, 'child': 65},
 {'parent': 3, 'child': 66},
 {'parent': 3, 'child': 67},
 {'parent': 3, 'child': 68},
 {'parent': 3, 'child': 69},
 {'parent': 3, 'child': 70},
 {'parent': 3, 'child': 71},
 {'parent': 3, 'child': 72},
 {'parent': 3, 'child': 73},
 {'parent': 3, 'child': 74},
 {'parent': 3, 'child': 75},
 {'parent': 3, 'child': 76},
 {'parent': 3, 'child': 77},
 {'parent': 3, 'child': 78},
 {'parent': 3, 'child': 79},
 {'parent': 131, 'child': 3},
 {'parent': 165, 'child': 3},
 {'parent': 67, 'child': 4},
 {'parent': 131, 'child': 4},
 {'parent': 165, 'child': 4},
 {'parent': 67, 'child': 5},
 {'parent': 131, 'child': 5},
 {'parent': 165, 'child': 5},
 {'parent': 67, 'child': 6},
 {'parent': 131, 'child': 6},
 {'parent': 165, 'child': 6},
 {'parent': 67, 'child': 7},
 {'parent': 131, 'child': 7},
 {'parent': 165, 'child': 7},
 {'parent': 67, 'child': 8},
 {'parent': 131, 'child': 8},
 {'parent': 165, 'child': 8},
 {'parent': 67, 'child': 9},
 {'parent': 131, 'child': 9},
 {'parent': 165, 'child': 9},
 {'parent': 67, 'child': 10},
 {'parent': 131, 'child': 10},
 {'parent': 165, 'child': 10},
 {'parent': 67, 'child': 11},
 {'parent': 131, 'child': 11},
 {'parent': 165, 'child': 11},
 {'parent': 67, 'child': 12},
 {'parent': 131, 'child': 12},
 {'parent': 165, 'child': 12},
 {'parent': 67, 'child': 13},
 {'parent': 131, 'child': 13},
 {'parent': 165, 'child': 13},
 {'parent': 67, 'child': 14},
 {'parent': 131, 'child': 14},
 {'parent': 165, 'child': 14},
 {'parent': 67, 'child': 15},
 {'parent': 131, 'child': 15},
 {'parent': 165, 'child': 15},
 {'parent': 67, 'child': 16},
 {'parent': 131, 'child': 16},
 {'parent': 165, 'child': 16},
 {'parent': 67, 'child': 17},
 {'parent': 131, 'child': 17},
 {'parent': 165, 'child': 17},
 {'parent': 67, 'child': 18},
 {'parent': 131, 'child': 18},
 {'parent': 165, 'child': 18},
 {'parent': 67, 'child': 19},
 {'parent': 131, 'child': 19},
 {'parent': 165, 'child': 19},
 {'parent': 21, 'child': 20},
 {'parent': 67, 'child': 20},
 {'parent': 131, 'child': 20},
 {'parent': 165, 'child': 20},
 {'parent': 67, 'child': 21},
 {'parent': 131, 'child': 21},
 {'parent': 165, 'child': 21},
 {'parent': 67, 'child': 22},
 {'parent': 131, 'child': 22},
 {'parent': 165, 'child': 22},
 {'parent': 67, 'child': 23},
 {'parent': 131, 'child': 23},
 {'parent': 165, 'child': 23},
 {'parent': 67, 'child': 24},
 {'parent': 131, 'child': 24},
 {'parent': 165, 'child': 24},
 {'parent': 67, 'child': 25},
 {'parent': 131, 'child': 25},
 {'parent': 165, 'child': 25},
 {'parent': 67, 'child': 26},
 {'parent': 131, 'child': 26},
 {'parent': 165, 'child': 26},
 {'parent': 67, 'child': 27},
 {'parent': 131, 'child': 27},
 {'parent': 165, 'child': 27},
 {'parent': 67, 'child': 28},
 {'parent': 131, 'child': 28},
 {'parent': 165, 'child': 28},
 {'parent': 67, 'child': 29},
 {'parent': 131, 'child': 29},
 {'parent': 165, 'child': 29},
 {'parent': 67, 'child': 30},
 {'parent': 131, 'child': 30},
 {'parent': 165, 'child': 30},
 {'parent': 67, 'child': 31},
 {'parent': 131, 'child': 31},
 {'parent': 165, 'child': 31},
 {'parent': 67, 'child': 32},
 {'parent': 131, 'child': 32},
 {'parent': 165, 'child': 32},
 {'parent': 67, 'child': 33},
 {'parent': 131, 'child': 33},
 {'parent': 165, 'child': 33},
 {'parent': 67, 'child': 34},
 {'parent': 131, 'child': 34},
 {'parent': 165, 'child': 34},
 {'parent': 67, 'child': 35},
 {'parent': 131, 'child': 35},
 {'parent': 165, 'child': 35},
 {'parent': 67, 'child': 36},
 {'parent': 131, 'child': 36},
 {'parent': 165, 'child': 36},
 {'parent': 67, 'child': 37},
 {'parent': 131, 'child': 37},
 {'parent': 165, 'child': 37},
 {'parent': 67, 'child': 38},
 {'parent': 131, 'child': 38},
 {'parent': 165, 'child': 38},
 {'parent': 67, 'child': 39},
 {'parent': 131, 'child': 39},
 {'parent': 165, 'child': 39},
 {'parent': 67, 'child': 40},
 {'parent': 131, 'child': 40},
 {'parent': 165, 'child': 40},
 {'parent': 67, 'child': 41},
 {'parent': 131, 'child': 41},
 {'parent': 165, 'child': 41},
 {'parent': 67, 'child': 42},
 {'parent': 131, 'child': 42},
 {'parent': 165, 'child': 42},
 {'parent': 67, 'child': 43},
 {'parent': 131, 'child': 43},
 {'parent': 165, 'child': 43},
 {'parent': 67, 'child': 44},
 {'parent': 131, 'child': 44},
 {'parent': 165, 'child': 44},
 {'parent': 67, 'child': 45},
 {'parent': 131, 'child': 45},
 {'parent': 165, 'child': 45},
 {'parent': 67, 'child': 46},
 {'parent': 131, 'child': 46},
 {'parent': 165, 'child': 46},
 {'parent': 67, 'child': 47},
 {'parent': 131, 'child': 47},
 {'parent': 165, 'child': 47},
 {'parent': 67, 'child': 48},
 {'parent': 131, 'child': 48},
 {'parent': 165, 'child': 48},
 {'parent': 67, 'child': 49},
 {'parent': 131, 'child': 49},
 {'parent': 165, 'child': 49},
 {'parent': 67, 'child': 50},
 {'parent': 131, 'child': 50},
 {'parent': 165, 'child': 50},
 {'parent': 67, 'child': 51},
 {'parent': 131, 'child': 51},
 {'parent': 165, 'child': 51},
 {'parent': 53, 'child': 52},
 {'parent': 67, 'child': 52},
 {'parent': 131, 'child': 52},
 {'parent': 165, 'child': 52},
 {'parent': 67, 'child': 53},
 {'parent': 131, 'child': 53},
 {'parent': 165, 'child': 53},
 {'parent': 67, 'child': 54},
 {'parent': 131, 'child': 54},
 {'parent': 165, 'child': 54},
 {'parent': 67, 'child': 55},
 {'parent': 131, 'child': 55},
 {'parent': 165, 'child': 55},
 {'parent': 67, 'child': 56},
 {'parent': 131, 'child': 56},
 {'parent': 165, 'child': 56},
 {'parent': 67, 'child': 57},
 {'parent': 131, 'child': 57},
 {'parent': 165, 'child': 57},
 {'parent': 67, 'child': 58},
 {'parent': 131, 'child': 58},
 {'parent': 165, 'child': 58},
 {'parent': 67, 'child': 59},
 {'parent': 131, 'child': 59},
 {'parent': 165, 'child': 59},
 {'parent': 67, 'child': 60},
 {'parent': 131, 'child': 60},
 {'parent': 165, 'child': 60},
 {'parent': 67, 'child': 61},
 {'parent': 131, 'child': 61},
 {'parent': 165, 'child': 61},
 {'parent': 67, 'child': 62},
 {'parent': 131, 'child': 62},
 {'parent': 165, 'child': 62},
 {'parent': 67, 'child': 63},
 {'parent': 131, 'child': 63},
 {'parent': 165, 'child': 63},
 {'parent': 67, 'child': 64},
 {'parent': 131, 'child': 64},
 {'parent': 165, 'child': 64},
 {'parent': 65, 'child': 66},
 {'parent': 67, 'child': 65},
 {'parent': 131, 'child': 65},
 {'parent': 165, 'child': 65},
 {'parent': 67, 'child': 66},
 {'parent': 131, 'child': 66},
 {'parent': 165, 'child': 66},
 {'parent': 67, 'child': 68},
 {'parent': 67, 'child': 69},
 {'parent': 67, 'child': 70},
 {'parent': 67, 'child': 71},
 {'parent': 67, 'child': 72},
 {'parent': 67, 'child': 73},
 {'parent': 67, 'child': 74},
 {'parent': 67, 'child': 75},
 {'parent': 67, 'child': 76},
 {'parent': 67, 'child': 77},
 {'parent': 67, 'child': 78},
 {'parent': 67, 'child': 79},
 {'parent': 131, 'child': 67},
 {'parent': 165, 'child': 67},
 {'parent': 131, 'child': 68},
 {'parent': 165, 'child': 68},
 {'parent': 131, 'child': 69},
 {'parent': 165, 'child': 69},
 {'parent': 131, 'child': 70},
 {'parent': 165, 'child': 70},
 {'parent': 131, 'child': 71},
 {'parent': 165, 'child': 71},
 {'parent': 72, 'child': 73},
 {'parent': 131, 'child': 72},
 {'parent': 165, 'child': 72},
 {'parent': 131, 'child': 73},
 {'parent': 165, 'child': 73},
 {'parent': 77, 'child': 74},
 {'parent': 131, 'child': 74},
 {'parent': 165, 'child': 74},
 {'parent': 77, 'child': 75},
 {'parent': 131, 'child': 75},
 {'parent': 165, 'child': 75},
 {'parent': 77, 'child': 76},
 {'parent': 131, 'child': 76},
 {'parent': 165, 'child': 76},
 {'parent': 77, 'child': 78},
 {'parent': 131, 'child': 77},
 {'parent': 165, 'child': 77},
 {'parent': 131, 'child': 78},
 {'parent': 165, 'child': 78},
 {'parent': 131, 'child': 79},
 {'parent': 165, 'child': 79},
 {'parent': 131, 'child': 80},
 {'parent': 165, 'child': 80},
 {'parent': 131, 'child': 81},
 {'parent': 165, 'child': 81},
 {'parent': 131, 'child': 82},
 {'parent': 165, 'child': 82},
 {'parent': 131, 'child': 83},
 {'parent': 165, 'child': 83},
 {'parent': 102, 'child': 84},
 {'parent': 131, 'child': 84},
 {'parent': 165, 'child': 84},
 {'parent': 86, 'child': 85},
 {'parent': 102, 'child': 85},
 {'parent': 131, 'child': 85},
 {'parent': 165, 'child': 85},
 {'parent': 102, 'child': 86},
 {'parent': 131, 'child': 86},
 {'parent': 165, 'child': 86},
 {'parent': 102, 'child': 87},
 {'parent': 131, 'child': 87},
 {'parent': 165, 'child': 87},
 {'parent': 102, 'child': 88},
 {'parent': 131, 'child': 88},
 {'parent': 165, 'child': 88},
 {'parent': 102, 'child': 89},
 {'parent': 131, 'child': 89},
 {'parent': 165, 'child': 89},
 {'parent': 91, 'child': 90},
 {'parent': 102, 'child': 90},
 {'parent': 131, 'child': 90},
 {'parent': 165, 'child': 90},
 {'parent': 102, 'child': 91},
 {'parent': 131, 'child': 91},
 {'parent': 165, 'child': 91},
 {'parent': 102, 'child': 92},
 {'parent': 131, 'child': 92},
 {'parent': 165, 'child': 92},
 {'parent': 102, 'child': 93},
 {'parent': 131, 'child': 93},
 {'parent': 165, 'child': 93},
 {'parent': 102, 'child': 94},
 {'parent': 131, 'child': 94},
 {'parent': 165, 'child': 94},
 {'parent': 102, 'child': 95},
 {'parent': 131, 'child': 95},
 {'parent': 165, 'child': 95},
 {'parent': 102, 'child': 96},
 {'parent': 131, 'child': 96},
 {'parent': 165, 'child': 96},
 {'parent': 102, 'child': 97},
 {'parent': 131, 'child': 97},
 {'parent': 165, 'child': 97},
 {'parent': 102, 'child': 98},
 {'parent': 131, 'child': 98},
 {'parent': 165, 'child': 98},
 {'parent': 102, 'child': 99},
 {'parent': 131, 'child': 99},
 {'parent': 165, 'child': 99},
 {'parent': 102, 'child': 100},
 {'parent': 131, 'child': 100},
 {'parent': 165, 'child': 100},
 {'parent': 102, 'child': 101},
 {'parent': 131, 'child': 101},
 {'parent': 165, 'child': 101},
 {'parent': 102, 'child': 103},
 {'parent': 131, 'child': 102},
 {'parent': 165, 'child': 102},
 {'parent': 131, 'child': 103},
 {'parent': 165, 'child': 103},
 {'parent': 105, 'child': 104},
 {'parent': 131, 'child': 104},
 {'parent': 165, 'child': 104},
 {'parent': 131, 'child': 105},
 {'parent': 165, 'child': 105},
 {'parent': 131, 'child': 106},
 {'parent': 165, 'child': 106},
 {'parent': 108, 'child': 107},
 {'parent': 131, 'child': 107},
 {'parent': 165, 'child': 107},
 {'parent': 131, 'child': 108},
 {'parent': 165, 'child': 108},
 {'parent': 131, 'child': 109},
 {'parent': 165, 'child': 109},
 {'parent': 112, 'child': 110},
 {'parent': 131, 'child': 110},
 {'parent': 165, 'child': 110},
 {'parent': 112, 'child': 111},
 {'parent': 131, 'child': 111},
 {'parent': 165, 'child': 111},
 {'parent': 131, 'child': 112},
 {'parent': 165, 'child': 112},
 {'parent': 131, 'child': 113},
 {'parent': 165, 'child': 113},
 {'parent': 131, 'child': 114},
 {'parent': 165, 'child': 114},
 {'parent': 115, 'child': 116},
 {'parent': 115, 'child': 117},
 {'parent': 115, 'child': 118},
 {'parent': 131, 'child': 115},
 {'parent': 165, 'child': 115},
 {'parent': 117, 'child': 116},
 {'parent': 131, 'child': 116},
 {'parent': 165, 'child': 116},
 {'parent': 131, 'child': 117},
 {'parent': 165, 'child': 117},
 {'parent': 131, 'child': 118},
 {'parent': 165, 'child': 118},
 {'parent': 126, 'child': 119},
 {'parent': 131, 'child': 119},
 {'parent': 165, 'child': 119},
 {'parent': 126, 'child': 120},
 {'parent': 131, 'child': 120},
 {'parent': 165, 'child': 120},
 {'parent': 126, 'child': 121},
 {'parent': 131, 'child': 121},
 {'parent': 165, 'child': 121},
 {'parent': 126, 'child': 122},
 {'parent': 131, 'child': 122},
 {'parent': 165, 'child': 122},
 {'parent': 126, 'child': 123},
 {'parent': 131, 'child': 123},
 {'parent': 165, 'child': 123},
 {'parent': 126, 'child': 124},
 {'parent': 131, 'child': 124},
 {'parent': 165, 'child': 124},
 {'parent': 126, 'child': 125},
 {'parent': 131, 'child': 125},
 {'parent': 165, 'child': 125},
 {'parent': 126, 'child': 127},
 {'parent': 126, 'child': 128},
 {'parent': 126, 'child': 129},
 {'parent': 131, 'child': 126},
 {'parent': 165, 'child': 126},
 {'parent': 131, 'child': 127},
 {'parent': 165, 'child': 127},
 {'parent': 128, 'child': 129},
 {'parent': 131, 'child': 128},
 {'parent': 165, 'child': 128},
 {'parent': 131, 'child': 129},
 {'parent': 165, 'child': 129},
 {'parent': 131, 'child': 130},
 {'parent': 165, 'child': 130},
 {'parent': 165, 'child': 131},
 {'parent': 165, 'child': 132},
 {'parent': 165, 'child': 133},
 {'parent': 165, 'child': 134},
 {'parent': 136, 'child': 135},
 {'parent': 165, 'child': 135},
 {'parent': 165, 'child': 136},
 {'parent': 165, 'child': 137},
 {'parent': 165, 'child': 138},
 {'parent': 165, 'child': 139},
 {'parent': 165, 'child': 140},
 {'parent': 152, 'child': 141},
 {'parent': 165, 'child': 141},
 {'parent': 143, 'child': 142},
 {'parent': 152, 'child': 142},
 {'parent': 165, 'child': 142},
 {'parent': 152, 'child': 143},
 {'parent': 165, 'child': 143},
 {'parent': 145, 'child': 144},
 {'parent': 151, 'child': 144},
 {'parent': 152, 'child': 144},
 {'parent': 165, 'child': 144},
 {'parent': 145, 'child': 146},
 {'parent': 151, 'child': 145},
 {'parent': 152, 'child': 145},
 {'parent': 165, 'child': 145},
 {'parent': 151, 'child': 146},
 {'parent': 152, 'child': 146},
 {'parent': 165, 'child': 146},
 {'parent': 151, 'child': 147},
 {'parent': 152, 'child': 147},
 {'parent': 165, 'child': 147},
 {'parent': 151, 'child': 148},
 {'parent': 152, 'child': 148},
 {'parent': 165, 'child': 148},
 {'parent': 150, 'child': 149},
 {'parent': 151, 'child': 149},
 {'parent': 152, 'child': 149},
 {'parent': 165, 'child': 149},
 {'parent': 151, 'child': 150},
 {'parent': 152, 'child': 150},
 {'parent': 165, 'child': 150},
 {'parent': 152, 'child': 151},
 {'parent': 165, 'child': 151},
 {'parent': 152, 'child': 153},
 {'parent': 152, 'child': 154},
 {'parent': 152, 'child': 155},
 {'parent': 152, 'child': 156},
 {'parent': 152, 'child': 157},
 {'parent': 152, 'child': 158},
 {'parent': 152, 'child': 159},
 {'parent': 152, 'child': 160},
 {'parent': 152, 'child': 161},
 {'parent': 152, 'child': 162},
 {'parent': 152, 'child': 163},
 {'parent': 165, 'child': 152},
 {'parent': 162, 'child': 153},
 {'parent': 165, 'child': 153},
 {'parent': 162, 'child': 154},
 {'parent': 165, 'child': 154},
 {'parent': 162, 'child': 155},
 {'parent': 165, 'child': 155},
 {'parent': 162, 'child': 156},
 {'parent': 165, 'child': 156},
 {'parent': 162, 'child': 157},
 {'parent': 165, 'child': 157},
 {'parent': 162, 'child': 158},
 {'parent': 165, 'child': 158},
 {'parent': 162, 'child': 159},
 {'parent': 165, 'child': 159},
 {'parent': 162, 'child': 160},
 {'parent': 165, 'child': 160},
 {'parent': 162, 'child': 161},
 {'parent': 165, 'child': 161},
 {'parent': 165, 'child': 162},
 {'parent': 165, 'child': 163},
 {'parent': 165, 'child': 164},
 {'parent': 165, 'child': 166},
 {'parent': 165, 'child': 167},
 {'parent': 165, 'child': 168},
 {'parent': 165, 'child': 169},
 {'parent': 165, 'child': 170},
 {'parent': 167, 'child': 166},
 {'parent': 167, 'child': 168},
 {'parent': 167, 'child': 169},
 {'parent': 167, 'child': 170},
 {'parent': 168, 'child': 169}]

### Timepoint B

In [70]:
tree2 = dendropy.Tree.get(path="../outputFiles/timepoint2_all_pastml/named.tree_timepoint2.rooted.nwk", schema="newick")
tree2

In [71]:
strainCountryTimepoint2 = pd.read_csv('../outputFiles/timepoint2.strainCountry.all.txt')
strainCountryTimepoint2

                strain               country
0       EPI_ISL_402125          Asia / China
1      EPI_ISL_9388908          Asia / India
2      EPI_ISL_9388909          Asia / India
3      EPI_ISL_9388907          Asia / India
4       EPI_ISL_791809   North America / USA
...                ...                   ...
31925   EPI_ISL_829314      Europe / Iceland
31926   EPI_ISL_645965               England
31927   EPI_ISL_645964               England
31928  EPI_ISL_1311504  Europe / Netherlands
31929   EPI_ISL_744604   Europe / Luxembourg

[31930 rows x 2 columns]

In [72]:
strainCountryTimepoint2['strain'] = strainCountryTimepoint2['strain'].str.replace('_',' ')

In [73]:
strainCountryTimepoint2.describe()

                strain  country
count            31930    31930
unique           31930       51
top     EPI ISL 402125  England
freq                 1    16351

In [74]:
strainCountryTimepoint2[strainCountryTimepoint2['country'].isin(['Republic of Ireland','Northern Ireland'])].groupby('country').count()

                     strain
country
Northern Ireland        296
Republic of Ireland     215

In [76]:
timepoint2 = process_tree(tree2)

In [77]:
len(timepoint2['into_ireland_nodes'])

62

In [78]:
len(list({v['node']:v for v in timepoint2['into_ireland_nodes']}.values()))

51

In [79]:
len(timepoint2['between_ireland_nodes'])

1

In [80]:
len(list({v['node']:v for v in timepoint2['between_ireland_nodes']}.values()))

1

In [81]:
timepoint2['between_ireland_nodes']

[{'node': 'node 105046',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"}]

In [82]:
timepoint2['into_ireland_nodes'] = list({v['node']:v for v in timepoint2['into_ireland_nodes']}.values())
timepoint2['into_ireland_nodes']

[{'node': 'node 122113',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 126355',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 126391',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 126231',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 127087',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 127155',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 108178',
  'parent_country': "country='Wales'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 108015',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 107837',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 108061',
  'parent_country': "country='Scotland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 108340',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 109587',
  'parent_country': "country='Scotland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 109693',
  'parent_country': "country='Europe / Latvia|Europe / Norway|Europe / Lithuania|Europe / Iceland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 115060',
  'parent_country': "country='Scotland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 105788',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 105941',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 105921',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 111327',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 112187',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 112365',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 112318',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 112544',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 111971',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 113695',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 114368',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 114502',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 114529',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 113709',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 111212',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 115124',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 107119',
  'parent_country': "country='Wales'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 105321',
  'parent_country': "country='Scotland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 104284',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 104948',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 104978',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 104283',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 104990',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 105295',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 105069',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 104282',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 117972',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 118665',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 118134',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 115419',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 121847',
  'parent_country': "country='Europe / Spain'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 120096',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 120391',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 129353',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 129301',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 130487',
  'parent_country': "country='Europe / Spain'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 103080',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"}]

In [83]:
timepoint2['into_ireland_nodes'] = list(map(lambda x: {'node': x['node'].replace(' ','_'), 'country': x['country'][9:-1], 'parent_country': x['parent_country'][9:-1]}, timepoint2['into_ireland_nodes']))

In [84]:
timepoint2['into_ireland_nodes_without_ambiguous'] = list(filter(lambda x: "|" not in x['parent_country'], timepoint2['into_ireland_nodes']))

In [85]:
len(timepoint2['into_ireland_nodes_without_ambiguous'])

50

In [86]:
timepoint_2_country_counter = collections.Counter(list(map(lambda x: x['country'], timepoint2['into_ireland_nodes'])))
timepoint_2_country_frequency = timepoint_2_country_counter.most_common()
timepoint_2_country_frequency

[('Northern Ireland', 37), ('Republic of Ireland', 14)]

In [87]:
timepoint_2_roi_parent_country_counter = collections.Counter(list(map(lambda x: x['parent_country'], filter(lambda x: x['country'] == 'Republic of Ireland', timepoint2['into_ireland_nodes']))))
timepoint_2_roi_parent_country_frequency = timepoint_2_roi_parent_country_counter.most_common()
timepoint_2_roi_parent_country_frequency

[('England', 9),
 ('Scotland', 3),
 ('Europe / Latvia|Europe / Norway|Europe / Lithuania|Europe / Iceland', 1),
 ('Europe / Spain', 1)]

In [88]:
timepoint_2_ni_parent_country_counter = collections.Counter(list(map(lambda x: x['parent_country'], filter(lambda x: x['country'] == 'Northern Ireland', timepoint2['into_ireland_nodes']))))
timepoint_2_ni_parent_country_frequency = timepoint_2_ni_parent_country_counter.most_common()
timepoint_2_ni_parent_country_frequency

[('England', 33), ('Wales', 2), ('Scotland', 1), ('Europe / Spain', 1)]

In [89]:
timepoint_2_parent_country_counter = collections.Counter(list(map(lambda x: x['parent_country'], timepoint2['into_ireland_nodes'])))
timepoint_2_parent_country_frequency = timepoint_2_parent_country_counter.most_common()
timepoint_2_parent_country_frequency

[('England', 42),
 ('Scotland', 4),
 ('Wales', 2),
 ('Europe / Spain', 2),
 ('Europe / Latvia|Europe / Norway|Europe / Lithuania|Europe / Iceland', 1)]

In [90]:
timepoint_2_parent_country_frequency_df = pd.DataFrame(timepoint_2_parent_country_frequency, columns=['country','Both'])
timepoint_2_parent_country_frequency_df

                                             country  Both
0                                            England    42
1                                           Scotland     4
2                                              Wales     2
3                                     Europe / Spain     2
4  Europe / Latvia|Europe / Norway|Europe / Lithu...     1

In [91]:
timepoint_2_parent_country_frequency_df = pd.merge(timepoint_2_parent_country_frequency_df, pd.DataFrame(timepoint_2_roi_parent_country_frequency, columns=['country','RoI']), how="left", on="country")
timepoint_2_parent_country_frequency_df = pd.merge(timepoint_2_parent_country_frequency_df, pd.DataFrame(timepoint_2_ni_parent_country_frequency, columns=['country','NI']), how="left", on="country")
timepoint_2_parent_country_frequency_df[['RoI', 'NI']] = timepoint_2_parent_country_frequency_df[['RoI', 'NI']].fillna(value=0).astype(int)

In [92]:
timepoint_2_parent_country_frequency_df['country'] = timepoint_2_parent_country_frequency_df.apply(remove_continent, axis=1)

In [93]:
timepoint_2_parent_country_frequency_df

                                             country  Both  RoI  NI
0                                            England    42    9  33
1                                           Scotland     4    3   1
2                                              Wales     2    0   2
3                                              Spain     2    1   1
4  Europe / Latvia|Europe / Norway|Europe / Lithu...     1    1   0

In [94]:
timepoint_2_parent_country_frequency_df.to_csv('../outputFiles/timepoint_2_parent_country_frequency.csv', index=False)

In [95]:
num_country_tipsTimepoint2 = strainCountryTimepoint2.groupby('country').count().reset_index()
num_country_tipsTimepoint2.rename(columns={'strain': 'num_tips'}, inplace=True)
num_country_tipsTimepoint2

                        country  num_tips
0             Africa / Cameroon         2
1              Africa / Senegal         4
2              Africa / Tunisia        11
3                  Asia / China         1
4              Asia / Hong Kong        12
5                  Asia / India         3
6                  Asia / Japan         6
7               Asia / Malaysia         1
8              Asia / Singapore         5
9            Asia / South Korea        11
10                Asia / Taiwan         1
11              Asia / Thailand         4
12  Asia / United Arab Emirates        18
13                      England     16351
14             Europe / Austria        12
15             Europe / Belgium       170
16      Europe / Canary Islands         9
17              Europe / Cyprus        18
18      Europe / Czech Republic         2
19             Europe / Denmark      1703
20             Europe / Estonia         2
21             Europe / Finland         4
22              Europe / France       337
23             Europe / Germany       181
24           Europe / Gibraltar       143
25              Europe / Greece         9
26             Europe / Iceland      1772
27               Europe / Italy       565
28              Europe / Latvia        59
29           Europe / Lithuania        11
30          Europe / Luxembourg       140
31         Europe / Netherlands       355
32              Europe / Norway       142
33             Europe / Romania         2
34              Europe / Serbia         2
35            Europe / Slovenia        35
36               Europe / Spain      1607
37              Europe / Sweden        58
38         Europe / Switzerland       759
39      North America / Bermuda         4
40       North America / Canada        17
41       North America / Panama         1
42          North America / USA        13
43             Northern Ireland       296
44          Oceania / Australia         7
45        Oceania / New Zealand        12
46    Oceania / Solomon Islands         3
47          Republic of Ireland       215
48                     Scotland      3052
49         South America / Peru         1
50                        Wales      3782

In [96]:
num_country_tipsTimepoint2['country'] = num_country_tipsTimepoint2.apply(remove_continent, axis=1)
num_country_tipsTimepoint2

                 country  num_tips
0               Cameroon         2
1                Senegal         4
2                Tunisia        11
3                  China         1
4              Hong Kong        12
5                  India         3
6                  Japan         6
7               Malaysia         1
8              Singapore         5
9            South Korea        11
10                Taiwan         1
11              Thailand         4
12  United Arab Emirates        18
13               England     16351
14               Austria        12
15               Belgium       170
16        Canary Islands         9
17                Cyprus        18
18        Czech Republic         2
19               Denmark      1703
20               Estonia         2
21               Finland         4
22                France       337
23               Germany       181
24             Gibraltar       143
25                Greece         9
26               Iceland      1772
27                 Italy       565
28                Latvia        59
29             Lithuania        11
30            Luxembourg       140
31           Netherlands       355
32                Norway       142
33               Romania         2
34                Serbia         2
35              Slovenia        35
36                 Spain      1607
37                Sweden        58
38           Switzerland       759
39               Bermuda         4
40                Canada        17
41                Panama         1
42                   USA        13
43      Northern Ireland       296
44             Australia         7
45           New Zealand        12
46       Solomon Islands         3
47   Republic of Ireland       215
48              Scotland      3052
49                  Peru         1
50                 Wales      3782

In [97]:
timepoint_2_parent_country_frequency_df = pd.merge(num_country_tipsTimepoint2, timepoint_2_parent_country_frequency_df, how="left", on=['country']).fillna(value=0)
timepoint_2_parent_country_frequency_df

                 country  num_tips  Both  RoI    NI
0               Cameroon         2   0.0  0.0   0.0
1                Senegal         4   0.0  0.0   0.0
2                Tunisia        11   0.0  0.0   0.0
3                  China         1   0.0  0.0   0.0
4              Hong Kong        12   0.0  0.0   0.0
5                  India         3   0.0  0.0   0.0
6                  Japan         6   0.0  0.0   0.0
7               Malaysia         1   0.0  0.0   0.0
8              Singapore         5   0.0  0.0   0.0
9            South Korea        11   0.0  0.0   0.0
10                Taiwan         1   0.0  0.0   0.0
11              Thailand         4   0.0  0.0   0.0
12  United Arab Emirates        18   0.0  0.0   0.0
13               England     16351  42.0  9.0  33.0
14               Austria        12   0.0  0.0   0.0
15               Belgium       170   0.0  0.0   0.0
16        Canary Islands         9   0.0  0.0   0.0
17                Cyprus        18   0.0  0.0   0.0
18        Czech Republic         2   0.0  0.0   0.0
19               Denmark      1703   0.0  0.0   0.0
20               Estonia         2   0.0  0.0   0.0
21               Finland         4   0.0  0.0   0.0
22                France       337   0.0  0.0   0.0
23               Germany       181   0.0  0.0   0.0
24             Gibraltar       143   0.0  0.0   0.0
25                Greece         9   0.0  0.0   0.0
26               Iceland      1772   0.0  0.0   0.0
27                 Italy       565   0.0  0.0   0.0
28                Latvia        59   0.0  0.0   0.0
29             Lithuania        11   0.0  0.0   0.0
30            Luxembourg       140   0.0  0.0   0.0
31           Netherlands       355   0.0  0.0   0.0
32                Norway       142   0.0  0.0   0.0
33               Romania         2   0.0  0.0   0.0
34                Serbia         2   0.0  0.0   0.0
35              Slovenia        35   0.0  0.0   0.0
36                 Spain      1607   2.0  1.0   1.0
37                Sweden        58   0.0  0.0   0.0
38           Switzerland       759   0.0  0.0   0.0
39               Bermuda         4   0.0  0.0   0.0
40                Canada        17   0.0  0.0   0.0
41                Panama         1   0.0  0.0   0.0
42                   USA        13   0.0  0.0   0.0
43      Northern Ireland       296   0.0  0.0   0.0
44             Australia         7   0.0  0.0   0.0
45           New Zealand        12   0.0  0.0   0.0
46       Solomon Islands         3   0.0  0.0   0.0
47   Republic of Ireland       215   0.0  0.0   0.0
48              Scotland      3052   4.0  3.0   1.0
49                  Peru         1   0.0  0.0   0.0
50                 Wales      3782   2.0  0.0   2.0

In [98]:
timepoint_2_parent_country_frequency_df[~timepoint_2_parent_country_frequency_df['country'].isin(country_lat_long['country'])]

                country  num_tips  Both  RoI   NI
43     Northern Ireland       296   0.0  0.0  0.0
47  Republic of Ireland       215   0.0  0.0  0.0

In [99]:
timepoint_2_parent_country_frequency_df = pd.merge(country_lat_long, timepoint_2_parent_country_frequency_df, how="inner", on=['country'])
timepoint_2_parent_country_frequency_df

,longitude,latitude,country,distance_from_ireland,num_tips,Both,RoI,NI
0,-93.566635,62.365872,Canada,4765.573313,17,0.0,0.0,0.0
1,-74.114162,-8.522718,Peru,9222.655323,1,0.0,0.0,0.0
2,-64.745850,32.315067,Bermuda,5000.562477,4,0.0,0.0,0.0
3,-80.175902,8.422312,Panama,8060.228802,1,0.0,0.0,0.0
4,-5.345549,36.140227,Gibraltar,1922.179956,143,0.0,0.0,0.0
5,-14.610875,14.228861,Senegal,4381.010193,4,0.0,0.0,0.0
6,-19.056830,65.123609,Iceland,1445.979140,1772,0.0,0.0,0.0
7,56.866654,-43.657479,New Zealand,12433.900405,12,0.0,0.0,0.0
8,12.948474,6.294168,Cameroon,5569.428751,2,0.0,0.0,0.0
9,9.655876,34.086362,Tunisia,2561.328971,11,0.0,0.0,0.0
10,33.375346,35.117004,Cyprus,3808.675231,18,0.0,0.0,0.0
11,24.255596,38.418649,Greece,2973.459397,9,0.0,0.0,0.0
12,-127.763857,42.464272,USA,7903.715995,13,0.0,0.0,0.0
13,2.936178,46.204109,France,1124.690242,337,0.0,0.0,0.0
14,8.286929,46.736781,Switzerland,1384.606007,759,0.0,0.0,0.0
15,4.675010,50.618214,Belgium,933.661614,170,0.0,0.0,0.0
16,10.461591,51.149282,Germany,1293.463815,181,0.0,0.0,0.0
17,6.103230,49.775235,Luxembourg,1065.715997,140,0.0,0.0,0.0
18,5.474577,52.137515,Netherlands,932.527741,355,0.0,0.0,0.0
19,13.797778,47.631858,Austria,1675.203406,12,0.0,0.0,0.0
20,15.383273,49.749174,Czech Republic,1674.250463,2,0.0,0.0,0.0
21,11.002112,55.915553,Denmark,1269.298031,1703,0.0,0.0,0.0
22,12.246696,41.995992,Italy,1972.745854,565,0.0,0.0,0.0
23,20.856774,44.026799,Serbia,2352.028148,2,0.0,0.0,0.0
24,14.890637,46.137592,Slovenia,1834.152296,35,0.0,0.0,0.0
25,16.463696,65.187111,Norway,1905.748232,142,0.0,0.0,0.0
26,17.277290,62.465412,Sweden,1802.000528,58,0.0,0.0,0.0
27,25.236405,58.577570,Estonia,2141.516671,2,0.0,0.0,0.0
28,25.196596,64.813564,Finland,2259.503379,4,0.0,0.0,0.0
29,24.693671,56.813853,Latvia,2112.906156,59,0.0,0.0,0.0
30,23.889371,55.289040,Lithuania,2078.941510,11,0.0,0.0,0.0
31,25.094158,45.824549,Romania,2518.054217,2,0.0,0.0,0.0
32,82.833752,20.688394,India,8248.419753,3,0.0,0.0,0.0
33,54.279205,24.182503,United Arab Emirates,6066.808321,18,0.0,0.0,0.0
34,137.116564,-30.134160,Australia,16220.400928,7,0.0,0.0,0.0
35,160.966635,-9.760237,Solomon Islands,15077.740780,3,0.0,0.0,0.0
36,109.388254,4.304359,Malaysia,11396.625878,1,0.0,0.0,0.0
37,103.810258,1.352825,Singapore,11326.287142,5,0.0,0.0,0.0
38,101.068606,13.596475,Thailand,10031.273226,4,0.0,0.0,0.0
39,105.451205,37.458640,China,8086.766090,1,0.0,0.0,0.0
40,127.631388,36.052365,South Korea,9208.860028,11,0.0,0.0,0.0
41,135.446496,35.835803,Japan,9503.638494,6,0.0,0.0,0.0
42,-2.942967,40.030385,Spain,1529.835710,1607,2.0,1.0,1.0
43,120.982000,23.973861,Taiwan,10132.293495,1,0.0,0.0,0.0
44,114.137200,22.345300,Hong Kong,9951.817570,12,0.0,0.0,0.0
45,-15.745798,28.477070,Canary Islands,2828.043376,9,0.0,0.0,0.0
46,-1.464854,52.561928,England,462.610475,16351,42.0,9.0,33.0
47,-4.183963,56.816738,Scotland,468.558618,3052,4.0,3.0,1.0
48,-3.766409,52.330220,Wales,320.735659,3782,2.0,0.0,2.0

In [100]:
timepoint_2_parent_country_frequency_df.to_csv('../outputFiles/timepoint_2_parent_country_frequency_distance.csv', index=False)

In [101]:
timepoint_2_parent_country_frequency_df[timepoint_2_parent_country_frequency_df['Both'] > 0][['country','Both']].to_csv('../outputFiles/timepoint_2_country_frequency.csv', index=False)

In [102]:
for intro in tqdm(timepoint2['into_ireland_nodes']):
    parent_clusters = []
    is_parent_in_timepoint_list(intro['node'].replace('_',' '), tree2, timepoint2['into_ireland_nodes'])
    if len(parent_clusters) > 0:
        print(intro['node'])
        print(parent_clusters)

  0%|          | 0/51 [00:00<?, ?it/s]

In [103]:
cluster_num = 0
clusters_timepoint_b = []
for intro in tqdm(timepoint2['into_ireland_nodes']):
    cluster_num += 1
    descendant_tips = []
    find_irish_clusters(tree2.find_node_with_label(intro['node'].replace('_',' ')), descendant_tips)
    for tip in list(set(descendant_tips)):
        clusters_timepoint_b.append({'tip': tip.replace(' ','_'), 'cluster': cluster_num, 'timepoint': 'B'})

  0%|          | 0/51 [00:00<?, ?it/s]

In [104]:
clusters_timepoint_b_df = pd.DataFrame(clusters_timepoint_b)
clusters_timepoint_b_df

                tip  cluster timepoint
0    EPI_ISL_573760        1         B
1    EPI_ISL_639881        2         B
2    EPI_ISL_764406        3         B
3    EPI_ISL_680227        4         B
4    EPI_ISL_680244        4         B
..              ...      ...       ...
506  EPI_ISL_531194       50         B
507  EPI_ISL_531532       50         B
508  EPI_ISL_532897       51         B
509  EPI_ISL_532643       51         B
510  EPI_ISL_532676       51         B

[511 rows x 3 columns]

In [105]:
len(clusters_timepoint_b_df['tip'].unique())

511

In [106]:
clusters_timepoint_b_df.groupby('cluster').count().describe()

              tip   timepoint
count   51.000000   51.000000
mean    10.019608   10.019608
std     26.126225   26.126225
min      1.000000    1.000000
25%      1.000000    1.000000
50%      2.000000    2.000000
75%      5.000000    5.000000
max    130.000000  130.000000

In [107]:
clusters_timepoint_b_df.to_csv('../outputFiles/clusters/clusters_timepoint_B.csv', index=False)

In [108]:
clusters_timepoint_b_df.groupby('cluster').count().sort_values(by='tip',ascending=False)

         tip  timepoint
cluster
39       130        130
36       128        128
37        64         64
31        21         21
9         21         21
15        14         14
48        13         13
40        12         12
12        10         10
32         9          9
18         7          7
28         6          6
43         5          5
29         5          5
14         5          5
33         4          4
17         4          4
30         3          3
51         3          3
44         3          3
45         3          3
46         3          3
6          3          3
4          3          3
35         2          2
11         2          2
10         2          2
50         2          2
34         2          2
42         1          1
41         1          1
38         1          1
47         1          1
49         1          1
1          1          1
27         1          1
2          1          1
25         1          1
24         1          1
23         1          1
22         1          1
21         1          1
20         1          1
19         1          1
16         1          1
13         1          1
8          1          1
7          1          1
5          1          1
3          1          1
26         1          1

In [109]:
clusters_timepoint_b_df.groupby('cluster').count().reset_index().rename(columns={'tip':'irish_samples'})[['cluster','irish_samples']].to_csv('../outputFiles/clusters/clusters_timepoint_B_size.csv', index=False)

### Timepoint C

In [110]:
tree3 = dendropy.Tree.get(path="../outputFiles/timepoint3_all_pastml/named.tree_timepoint3.rooted.nwk", schema="newick")
tree3

In [111]:
strainCountryTimepoint3 = pd.read_csv('../outputFiles/timepoint3.strainCountry.all.txt')
strainCountryTimepoint3

                 strain       country
0        EPI_ISL_402125  Asia / China
1        EPI_ISL_606424       England
2        EPI_ISL_606375       England
3        EPI_ISL_629120       England
4        EPI_ISL_629311       England
...                 ...           ...
184321  EPI_ISL_1205970       England
184322  EPI_ISL_1206020       England
184323  EPI_ISL_1206022       England
184324  EPI_ISL_1206024       England
184325  EPI_ISL_1206025       England

[184326 rows x 2 columns]

In [112]:
strainCountryTimepoint3['strain'] = strainCountryTimepoint3['strain'].str.replace('_',' ')

In [113]:
strainCountryTimepoint3.describe()

                strain  country
count           184326   184326
unique          184326      137
top     EPI ISL 402125  England
freq                 1    97587

In [114]:
strainCountryTimepoint3[strainCountryTimepoint3['country'].isin(['Republic of Ireland','Northern Ireland'])].groupby('country').count()

                     strain
country
Northern Ireland       1695
Republic of Ireland    2850

In [115]:
timepoint3 = process_tree(tree3)

In [116]:
len(timepoint3['into_ireland_nodes'])

278

In [117]:
len(list({v['node']:v for v in timepoint3['into_ireland_nodes']}.values()))

251

In [118]:
len(timepoint3['between_ireland_nodes'])

45

In [119]:
len(list({v['node']:v for v in timepoint3['between_ireland_nodes']}.values()))

45

In [120]:
timepoint3['between_ireland_nodes']

[{'node': 'node 194596',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 234097',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 248580',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 269304',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 269206',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 270788',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 238024',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 239536',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 240448',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 241294',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 241296',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 238928',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 238875',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 239215',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 241972',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 242264',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 242256',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 242754',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 237230',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 237256',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 237265',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 237282',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 237295',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 237315',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 237317',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 237316',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 237331',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 237134',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 237135',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 242669',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 243063',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 243071',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 242918',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 243184',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 243188',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 243169',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 243194',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 243193',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 243195',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 242917',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 243136',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 243246',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 276642',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 278869',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 281299',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"}]

In [121]:
timepoint_3_between_country_counter = collections.Counter(list(map(lambda x: x['parent_country'], timepoint3['between_ireland_nodes'])))
timepoint_3_between_country_frequency = timepoint_3_between_country_counter.most_common()
timepoint_3_between_country_frequency

[("country='Republic of Ireland'", 23), ("country='Northern Ireland'", 22)]

In [122]:
timepoint3['into_ireland_nodes'] = list({v['node']:v for v in timepoint3['into_ireland_nodes']}.values())
timepoint3['into_ireland_nodes']

[{'node': 'node 182523',
  'parent_country': "country='Europe / Turkey'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 183623',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 185011',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 187858',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 189547',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 192369',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 188909',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 192502',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 188026',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 188025',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 194592',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 194694',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 196065',
  'parent_country': "country='Europe / Poland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 196490',
  'parent_country': "country='Europe / Poland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 194920',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 209125',
  'parent_country': "country='Europe / Belgium'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 209536',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 197192',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 200150',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 200452',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 202320',
  'parent_country': "country='Europe / Poland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 202248',
  'parent_country': "country='Europe / Germany'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 202723',
  'parent_country': "country='Asia / India'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 202952',
  'parent_country': "country='Europe / Germany'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 202605',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 204084',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 210570',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 222124',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 222507',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 224813',
  'parent_country': "country='Europe / Bulgaria'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 225812',
  'parent_country': "country='Europe / Switzerland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 225973',
  'parent_country': "country='Europe / Germany'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 226535',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 233065',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 233072',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 229653',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 234096',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 234028',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 234959',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 244370',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 245723',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 246049',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 246551',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 246371',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 248063',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 248055',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 248273',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 248579',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 248687',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 249141',
  'parent_country': "country='Europe / Croatia'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 250805',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 251279',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 250854',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 251330',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 251568',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 252002',
  'parent_country': "country='Europe / Sweden'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 252354',
  'parent_country': "country='Europe / Sweden'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 251742',
  'parent_country': "country='Europe / Sweden'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 252349',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 259007',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 260240',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 260605',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 261084',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 251738',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 261296',
  'parent_country': "country='Europe / Switzerland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 262877',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 262543',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 262890',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 264533',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 265556',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 264823',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 265700',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 266287',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 266466',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 266638',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 267664',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 268071',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 268355',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 268839',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 268841',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 269435',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 269507',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 269205',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 269693',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 269694',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 269718',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 269764',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 269897',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 269700',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 270153',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 270140',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 270195',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 270277',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 270443',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 270792',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 270766',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 270952',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 271807',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 271800',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 272127',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 272271',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 274330',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 274338',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 274362',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 237041',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 237360',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 237969',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 237832',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 238236',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 238324',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 238388',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 238531',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 239025',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 239176',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 239535',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 239695',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 239708',
  'parent_country': "country='Europe / Italy'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 239906',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 240052',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 240082',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 240382',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 240567',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 240642',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 239671',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 241153',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 241223',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 241228',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 241290',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 241310',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 241580',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 241600',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 241614',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 241757',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 241835',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 241932',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 241959',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 241977',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 242164',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 242186',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 242208',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 242351',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 237348',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 242234',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 242213',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 242519',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 242576',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 242599',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 242665',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 242701',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 242733',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 242750',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 242751',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 242753',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 242784',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 242800',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 237040',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 242916',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 243455',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 243502',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 243562',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 243551',
  'parent_country': "country='North America / USA'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 237039',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 243667',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 237038',
  'parent_country': "country='Europe / Switzerland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 274572',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 237037',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 275013',
  'parent_country': "country='Europe / Sweden'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 276099',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 276640',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 277419',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 278511',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 278557',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 278750',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 278766',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 278604',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 280047',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 281141',

In [123]:
timepoint3['into_ireland_nodes'] = list(map(lambda x: {'node': x['node'].replace(' ','_'), 'country': x['country'][9:-1], 'parent_country': x['parent_country'][9:-1]}, timepoint3['into_ireland_nodes']))

In [124]:
timepoint3['into_ireland_nodes_without_ambiguous'] = list(filter(lambda x: "|" not in x['parent_country'], timepoint3['into_ireland_nodes']))

In [125]:
len(timepoint3['into_ireland_nodes_without_ambiguous'])

249

In [126]:
timepoint_3_country_counter = collections.Counter(list(map(lambda x: x['country'], timepoint3['into_ireland_nodes'])))
timepoint_3_country_frequency = timepoint_3_country_counter.most_common()
timepoint_3_country_frequency

[('Republic of Ireland', 169), ('Northern Ireland', 82)]

In [127]:
timepoint_3_roi_parent_country_counter = collections.Counter(list(map(lambda x: x['parent_country'], filter(lambda x: x['country'] == 'Republic of Ireland', timepoint3['into_ireland_nodes']))))
timepoint_3_roi_parent_country_frequency = timepoint_3_roi_parent_country_counter.most_common()
timepoint_3_roi_parent_country_frequency

[('England', 133),
 ('Europe / Germany', 6),
 ('North America / USA', 5),
 ('Europe / France', 4),
 ('Europe / Sweden', 4),
 ('Europe / Poland', 3),
 ('Europe / Switzerland', 3),
 ('Europe / Spain', 2),
 ('Scotland', 2),
 ('Europe / Turkey', 1),
 ('Europe / Belgium', 1),
 ('Asia / India', 1),
 ('Europe / Croatia', 1),
 ('Europe / Italy', 1),
 ('Europe / Portugal', 1),
 ('Asia / Iraq', 1)]

In [128]:
timepoint_3_ni_parent_country_counter = collections.Counter(list(map(lambda x: x['parent_country'], filter(lambda x: x['country'] == 'Northern Ireland', timepoint3['into_ireland_nodes']))))
timepoint_3_ni_parent_country_frequency = timepoint_3_ni_parent_country_counter.most_common()
timepoint_3_ni_parent_country_frequency

[('England', 73),
 ('Europe / Germany', 3),
 ('Europe / Poland', 1),
 ('Europe / Bulgaria', 1),
 ('North America / USA', 1),
 ('Asia / United Arab Emirates|North America / Canada', 1),
 ('Europe / Germany|England', 1),
 ('Scotland', 1)]

In [129]:
timepoint_3_parent_country_counter = collections.Counter(list(map(lambda x: x['parent_country'], timepoint3['into_ireland_nodes'])))
timepoint_3_parent_country_frequency = timepoint_3_parent_country_counter.most_common()
timepoint_3_parent_country_frequency

[('England', 206),
 ('Europe / Germany', 9),
 ('North America / USA', 6),
 ('Europe / Poland', 4),
 ('Europe / France', 4),
 ('Europe / Sweden', 4),
 ('Europe / Switzerland', 3),
 ('Scotland', 3),
 ('Europe / Spain', 2),
 ('Europe / Turkey', 1),
 ('Europe / Belgium', 1),
 ('Asia / India', 1),
 ('Europe / Bulgaria', 1),
 ('Europe / Croatia', 1),
 ('Europe / Italy', 1),
 ('Europe / Portugal', 1),
 ('Asia / United Arab Emirates|North America / Canada', 1),
 ('Europe / Germany|England', 1),
 ('Asia / Iraq', 1)]

In [130]:
timepoint_3_parent_country_frequency_df = pd.DataFrame(timepoint_3_parent_country_frequency, columns=['country','Both'])
timepoint_3_parent_country_frequency_df

                                              country  Both
0                                             England   206
1                                    Europe / Germany     9
2                                 North America / USA     6
3                                     Europe / Poland     4
4                                     Europe / France     4
5                                     Europe / Sweden     4
6                                Europe / Switzerland     3
7                                            Scotland     3
8                                      Europe / Spain     2
9                                     Europe / Turkey     1
10                                   Europe / Belgium     1
11                                       Asia / India     1
12                                  Europe / Bulgaria     1
13                                   Europe / Croatia     1
14                                     Europe / Italy     1
15                                  Europe / Portugal     1
16  Asia / United Arab Emirates|North America / Ca...     1
17                           Europe / Germany|England     1
18                                        Asia / Iraq     1

In [131]:
timepoint_3_parent_country_frequency_df = pd.merge(timepoint_3_parent_country_frequency_df, pd.DataFrame(timepoint_3_roi_parent_country_frequency, columns=['country','RoI']), how="left", on="country")
timepoint_3_parent_country_frequency_df = pd.merge(timepoint_3_parent_country_frequency_df, pd.DataFrame(timepoint_3_ni_parent_country_frequency, columns=['country','NI']), how="left", on="country")
timepoint_3_parent_country_frequency_df[['RoI', 'NI']] = timepoint_3_parent_country_frequency_df[['RoI', 'NI']].fillna(value=0).astype(int)

In [132]:
timepoint_3_parent_country_frequency_df['country'] = timepoint_3_parent_country_frequency_df.apply(remove_continent, axis=1)

In [133]:
timepoint_3_parent_country_frequency_df

                                              country  Both  RoI  NI
0                                             England   206  133  73
1                                             Germany     9    6   3
2                                                 USA     6    5   1
3                                              Poland     4    3   1
4                                              France     4    4   0
5                                              Sweden     4    4   0
6                                         Switzerland     3    3   0
7                                            Scotland     3    2   1
8                                               Spain     2    2   0
9                                              Turkey     1    1   0
10                                            Belgium     1    1   0
11                                              India     1    1   0
12                                           Bulgaria     1    0   1
13                                            Croatia     1    1   0
14                                              Italy     1    1   0
15                                           Portugal     1    1   0
16  Asia / United Arab Emirates|North America / Ca...     1    0   1
17                           Europe / Germany|England     1    0   1
18                                               Iraq     1    1   0

In [134]:
timepoint_3_parent_country_frequency_df.to_csv('../outputFiles/timepoint_3_parent_country_frequency.csv', index=False)

In [135]:
num_country_tipsTimepoint3 = strainCountryTimepoint3.groupby('country').count().reset_index()
num_country_tipsTimepoint3.rename(columns={'strain': 'num_tips'}, inplace=True)
num_country_tipsTimepoint3

                               country  num_tips
0                      Africa / Angola         8
1                       Africa / Benin        34
2                Africa / Burkina Faso         1
3                  Africa / Cabo Verde         3
4    Africa / Central African Republic         3
..                                 ...       ...
132      South America / French Guiana         2
133           South America / Paraguay         1
134               South America / Peru         3
135           South America / Suriname         1
136                              Wales      5863

[137 rows x 2 columns]

In [136]:
num_country_tipsTimepoint3['country'] = num_country_tipsTimepoint3.apply(remove_continent, axis=1)
num_country_tipsTimepoint3

                      country  num_tips
0                      Angola         8
1                       Benin        34
2                Burkina Faso         1
3                  Cabo Verde         3
4    Central African Republic         3
..                        ...       ...
132             French Guiana         2
133                  Paraguay         1
134                      Peru         3
135                  Suriname         1
136                     Wales      5863

[137 rows x 2 columns]

In [137]:
timepoint_3_parent_country_frequency_df = pd.merge(num_country_tipsTimepoint3, timepoint_3_parent_country_frequency_df, how="left", on=['country']).fillna(value=0)
timepoint_3_parent_country_frequency_df

                      country  num_tips  Both  RoI   NI
0                      Angola         8   0.0  0.0  0.0
1                       Benin        34   0.0  0.0  0.0
2                Burkina Faso         1   0.0  0.0  0.0
3                  Cabo Verde         3   0.0  0.0  0.0
4    Central African Republic         3   0.0  0.0  0.0
..                        ...       ...   ...  ...  ...
132             French Guiana         2   0.0  0.0  0.0
133                  Paraguay         1   0.0  0.0  0.0
134                      Peru         3   0.0  0.0  0.0
135                  Suriname         1   0.0  0.0  0.0
136                     Wales      5863   0.0  0.0  0.0

[137 rows x 5 columns]

In [138]:
timepoint_3_parent_country_frequency_df[~timepoint_3_parent_country_frequency_df['country'].isin(country_lat_long['country'])]

                 country  num_tips  Both  RoI   NI
118     Northern Ireland      1695   0.0  0.0  0.0
123  Republic of Ireland      2850   0.0  0.0  0.0

In [139]:
timepoint_3_parent_country_frequency_df = pd.merge(country_lat_long, timepoint_3_parent_country_frequency_df, how="inner", on=['country'])
timepoint_3_parent_country_frequency_df

,longitude,latitude,country,distance_from_ireland,num_tips,Both,RoI,NI
0,-103.120439,23.643948,Mexico,8231.394213,21,0.0,0.0,0.0
1,-93.566635,62.365872,Canada,4765.573313,3249,0.0,0.0,0.0
2,-64.443152,-37.605645,Argentina,11458.955064,5,0.0,0.0,0.0
3,-81.255450,-34.328238,Chile,12001.453231,17,0.0,0.0,0.0
4,-82.338976,-1.298065,Ecuador,9076.012306,11,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
130,35.000000,31.400000,Palestine,4213.049700,9,0.0,0.0,0.0
131,-1.464854,52.561928,England,462.610475,97587,206.0,133.0,73.0
132,-4.183963,56.816738,Scotland,468.558618,6242,3.0,2.0,1.0
133,-3.766409,52.330220,Wales,320.735659,5863,0.0,0.0,0.0
134,20.850000,42.550000,Kosovo,2452.265860,3,0.0,0.0,0.0

In [140]:
timepoint_3_parent_country_frequency_df.to_csv('../outputFiles/timepoint_3_parent_country_frequency_distance.csv', index=False)

In [141]:
timepoint_3_parent_country_frequency_df[timepoint_3_parent_country_frequency_df['Both'] > 0][['country','Both']].to_csv('../outputFiles/timepoint_3_country_frequency.csv', index=False)

In [142]:
for intro in tqdm(timepoint3['into_ireland_nodes']):
    parent_clusters = []
    is_parent_in_timepoint_list(intro['node'].replace('_',' '), tree3, timepoint3['into_ireland_nodes'])
    if len(parent_clusters) > 0:
        print(intro['node'])
        print(parent_clusters)

  0%|          | 0/251 [00:00<?, ?it/s]

In [143]:
cluster_num = 0
clusters_timepoint_c = []
for intro in tqdm(timepoint3['into_ireland_nodes']):
    cluster_num += 1
    descendant_tips = []
    find_irish_clusters(tree3.find_node_with_label(intro['node'].replace('_',' ')), descendant_tips)
    for tip in list(set(descendant_tips)):
        clusters_timepoint_c.append({'tip': tip.replace(' ','_'), 'cluster': cluster_num, 'timepoint': 'C'})

  0%|          | 0/251 [00:00<?, ?it/s]

In [144]:
clusters_timepoint_c_df = pd.DataFrame(clusters_timepoint_c)
clusters_timepoint_c_df

                  tip  cluster timepoint
0      EPI_ISL_909909        1         C
1     EPI_ISL_1092976        1         C
2     EPI_ISL_1190098        2         C
3     EPI_ISL_1054522        2         C
4     EPI_ISL_1264986        2         C
...               ...      ...       ...
4540  EPI_ISL_1190249      249         C
4541  EPI_ISL_1051891      249         C
4542  EPI_ISL_1115719      249         C
4543  EPI_ISL_1092887      250         C
4544   EPI_ISL_789087      251         C

[4545 rows x 3 columns]

In [145]:
len(clusters_timepoint_c_df['tip'].unique())

4545

In [146]:
clusters_timepoint_c_df.groupby('cluster').count().describe()

              tip   timepoint
count  251.000000  251.000000
mean    18.107570   18.107570
std     58.920967   58.920967
min      1.000000    1.000000
25%      1.000000    1.000000
50%      2.000000    2.000000
75%     10.000000   10.000000
max    527.000000  527.000000

In [147]:
clusters_timepoint_c_df.to_csv('../outputFiles/clusters/clusters_timepoint_C.csv', index=False)

In [148]:
clusters_timepoint_c_df.groupby('cluster').count().sort_values(by='tip',ascending=False)

         tip  timepoint
cluster
156      527        527
157      465        465
142      377        377
83       314        314
108      192        192
...      ...        ...
93         1          1
94         1          1
174        1          1
173        1          1
251        1          1

[251 rows x 2 columns]

In [149]:
clusters_timepoint_c_df.groupby('cluster').count().reset_index().rename(columns={'tip':'irish_samples'})[['cluster','irish_samples']].to_csv('../outputFiles/clusters/clusters_timepoint_C_size.csv', index=False)

### Timepoint D

In [150]:
tree4 = dendropy.Tree.get(path="../outputFiles/timepoint4_all_pastml/named.tree_timepoint4.rooted.nwk", schema="newick")
tree4

In [151]:
strainCountryTimepoint4 = pd.read_csv('../outputFiles/timepoint4.strainCountry.all.txt')
strainCountryTimepoint4

                 strain              country
0        EPI_ISL_402125         Asia / China
1       EPI_ISL_6949234  North America / USA
2       EPI_ISL_5387777  North America / USA
3       EPI_ISL_6948687  North America / USA
4       EPI_ISL_6948551  North America / USA
...                 ...                  ...
513949  EPI_ISL_3283578              England
513950  EPI_ISL_3283579              England
513951  EPI_ISL_3283580              England
513952  EPI_ISL_3283565              England
513953  EPI_ISL_7086638      Asia / Malaysia

[513954 rows x 2 columns]

In [152]:
strainCountryTimepoint4['strain'] = strainCountryTimepoint4['strain'].str.replace('_',' ')

In [153]:
strainCountryTimepoint4.describe()

                strain  country
count           513954   513954
unique          513954      162
top     EPI ISL 402125  England
freq                 1   152100

In [154]:
strainCountryTimepoint4[strainCountryTimepoint4['country'].isin(['Republic of Ireland','Northern Ireland'])].groupby('country').count()

                     strain
country
Northern Ireland       3147
Republic of Ireland    4923

In [217]:
into_ireland_nodesTimepoint4 = []
between_ireland_nodesTimepoint4 = []
roi_countTimepoint4 = 0
ni_countTimepoint4 = 0
for strain in tqdm(strainCountryTimepoint4[strainCountryTimepoint4['country'].isin(['Republic of Ireland','Northern Ireland'])]['strain'].to_list()):
    node = tree4.find_node_with_taxon_label(strain)
    
    if node:
        if str(node.annotations["country"]) == "country='Republic of Ireland'":
            roi_countTimepoint4 += 1
        elif str(node.annotations["country"]) == "country='Northern Ireland'":
            ni_countTimepoint4 += 1
        
        if str(node.parent_node.annotations["country"]) != "country='Republic of Ireland'" and str(node.parent_node.annotations["country"]) != "country='Northern Ireland'":
            into_ireland_nodesTimepoint4.append({'node': str(node.parent_node.label), 'parent_country': str(node.parent_node.annotations["country"]), 'country': str(node.annotations["country"])})
        elif str(node.parent_node.annotations["country"]) == "country='Republic of Ireland'" and str(node.annotations["country"]) == "country='Northern Ireland'":
            between_ireland_nodesTimepoint4.append({'node': str(node.parent_node.label), 'parent_country': str(node.parent_node.annotations["country"]), 'country': str(node.annotations["country"])})
        elif str(node.annotations["country"]) == "country='Republic of Ireland'" and str(node.parent_node.annotations["country"]) == "country='Northern Ireland'":
            between_ireland_nodesTimepoint4.append({'node': str(node.parent_node.label), 'parent_country': str(node.parent_node.annotations["country"]), 'country': str(node.annotations["country"])})

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 8070/8070 [17:58:56<00:00,  8.02s/it]

In [155]:
timepoint4 = process_tree(tree4)

In [156]:
len(timepoint4['into_ireland_nodes'])

1257

In [157]:
len(list({v['node']:v for v in timepoint4['into_ireland_nodes']}.values()))

1132

In [158]:
len(timepoint4['between_ireland_nodes'])

104

In [159]:
len(list({v['node']:v for v in timepoint4['between_ireland_nodes']}.values()))

104

In [160]:
timepoint4['between_ireland_nodes']

[{'node': 'node 823559',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 829236',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 829239',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 829241',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 829230',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 829909',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 829953',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 835927',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 876781',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 954919',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 954982',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 954902',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 958210',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 958212',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 958515',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 960901',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 965065',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 967814',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 975337',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 975488',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 980423',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 984756',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 984850',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 984848',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 984757',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 984768',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 984775',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 984769',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 984816',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 995120',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 995119',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 995847',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1000418',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1000526',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1025971',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1028631',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1028777',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1028667',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1028668',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1030860',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1033867',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1034304',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1033853',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1037843',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1039365',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1039366',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1039367',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1039364',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1041338',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1043550',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 953092',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 954383',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 954377',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 954781',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 957101',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 957074',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 957346',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1047103',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1047846',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 954795',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 957809',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 957983',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1044027',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1045248',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1235314',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1235294',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1236445',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1235379',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1235375',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1235382',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1235386',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1235360',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1121738',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1121741',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1121740',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1121739',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1129202',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1131964',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1132061',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1146174',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1171860',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1173213',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1176592',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1177753',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1135020',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1135064',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1135191',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1135190',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1146368',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1148189',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1192117',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 868881',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 868965',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 872137',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 872150',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 872144',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 872169',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 872189',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 872274',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 872358',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 873178',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 873180',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 873043',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 872120',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"}]

In [161]:
timepoint_4_between_country_counter = collections.Counter(list(map(lambda x: x['parent_country'], timepoint4['between_ireland_nodes'])))
timepoint_4_between_country_frequency = timepoint_4_between_country_counter.most_common()
timepoint_4_between_country_frequency

[("country='Republic of Ireland'", 52), ("country='Northern Ireland'", 52)]

In [162]:
timepoint4['into_ireland_nodes'] = list({v['node']:v for v in timepoint4['into_ireland_nodes']}.values())
timepoint4['into_ireland_nodes']

[{'node': 'node 823471',
  'parent_country': "country='Asia / India'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 823563',
  'parent_country': "country='Asia / India'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 823229',
  'parent_country': "country='Asia / India'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 826014',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 823767',
  'parent_country': "country='Asia / India'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 823768',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 828485',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 828543',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 828570',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 828580',
  'parent_country': "country='Wales'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 828816',
  'parent_country': "country='Africa / Kenya'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 829229',
  'parent_country': "country='Asia / India'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 829838',
  'parent_country': "country='Asia / India'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 829952',
  'parent_country': "country='Europe / Lithuania'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 829997',
  'parent_country': "country='Asia / India'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 830369',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 831732',
  'parent_country': "country='Europe / Spain'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 831779',
  'parent_country': "country='Europe / Spain'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 831833',
  'parent_country': "country='Europe / Spain'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 831861',
  'parent_country': "country='Europe / Spain'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 831898',
  'parent_country': "country='Europe / Belgium|Europe / Italy'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 831906',
  'parent_country': "country='Europe / Spain'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 831933',
  'parent_country': "country='Europe / Spain'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 831941',
  'parent_country': "country='Europe / Spain'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 831975',
  'parent_country': "country='Europe / Spain'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 831987',
  'parent_country': "country='Europe / Spain'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 831742',
  'parent_country': "country='Europe / Spain'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 832166',
  'parent_country': "country='Europe / Spain'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 832186',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 833057',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 833103',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 833717',
  'parent_country': "country='Asia / India'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 833949',
  'parent_country': "country='Asia / India'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 834120',
  'parent_country': "country='Asia / Hong Kong'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 834312',
  'parent_country': "country='Asia / India'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 834481',
  'parent_country': "country='Asia / India'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 834577',
  'parent_country': "country='Asia / India'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 834585',
  'parent_country': "country='Asia / India'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 834676',
  'parent_country': "country='Asia / India'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 835808',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 835932',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 836447',
  'parent_country': "country='Asia / India'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 832846',
  'parent_country': "country='Asia / India'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 836617',
  'parent_country': "country='Asia / India'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 823216',
  'parent_country': "country='Asia / India'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 836744',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 823215',
  'parent_country': "country='Asia / India'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 823214',
  'parent_country': "country='Asia / India'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1462361',
  'parent_country': "country='Asia / India'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1465363',
  'parent_country': "country='Oceania / Australia'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1465371',
  'parent_country': "country='Europe / Greece'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1467054',
  'parent_country': "country='Europe / France'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1467306',
  'parent_country': "country='Asia / India'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1467343',
  'parent_country': "country='Asia / India'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1467729',
  'parent_country': "country='Europe / Netherlands'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1467733',
  'parent_country': "country='Europe / Denmark'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1467778',
  'parent_country': "country='Europe / Netherlands'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1467683',
  'parent_country': "country='Europe / France'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1467652',
  'parent_country': "country='Europe / Netherlands'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1467964',
  'parent_country': "country='Europe / Spain'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1468612',
  'parent_country': "country='Europe / Greece'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1469723',
  'parent_country': "country='North America / USA'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1479099',
  'parent_country': "country='Europe / Denmark|Europe / Netherlands|Republic of Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1480323',
  'parent_country': "country='Europe / Germany'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1480372',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1478443',
  'parent_country': "country='Europe / Denmark'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1478514',
  'parent_country': "country='Europe / Sweden'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1478161',
  'parent_country': "country='Europe / Belgium|Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1497608',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1497774',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1497788',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1497842',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1497855',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1497895',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1497904',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1497800',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1497972',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1498298',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1498301',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1498330',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1498297',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1498667',
  'parent_country': "country='Wales'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1498792',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1498969',
  'parent_country': "country='Europe / Belgium'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1501368',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1464243',
  'parent_country': "country='Asia / India'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1509448',
  'parent_country': "country='Asia / India'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1488471',
  'parent_country': "country='Europe / Denmark|Europe / Italy'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1489004',
  'parent_country': "country='Europe / Sweden'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1489182',
  'parent_country': "country='Europe / Sweden'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1493660',
  'parent_country': "country='Europe / Sweden'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1493733',
  'parent_country': "country='Europe / Denmark'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1493789',
  'parent_country': "country='Europe / Sweden'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1493820',
  'parent_country': "country='Europe / Sweden'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1494242',
  'parent_country': "country='Europe / Sweden'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1494353',
  'parent_country': "country='Europe / Sweden'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1494652',
  'parent_country': "country='Europe / Sweden'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1495187',
  'parent_country': "country='Europe / Sweden'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1495296',
  'parent_country': "country='Europe / Sweden'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1495315',
  'parent_country': "country='Europe / Sweden'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1493740',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1487993',
  'parent_country': "country='Europe / Spain'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1488026',
  'parent_country': "country='Europe / Spain'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1488027',
  'parent_country': "country='Europe / France'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1488055',
  'parent_country': "country='Europe / Spain'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1487949',
  'parent_country': "country='Europe / Belgium'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1487948',
  'parent_country': "country='Europe / Spain'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1488057',
  'parent_country': "country='Europe / Switzerland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1489244',
  'parent_country': "country='Europe / Netherlands'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1490086',
  'parent_country': "country='Europe / Netherlands'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1490902',
  'parent_country': "country='Europe / Netherlands'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1487932',
  'parent_country': "country='Europe / Sweden'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1493819',
  'parent_country': "country='Europe / France'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1495836',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1487924',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1495973',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1496199',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1496323',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1496404',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1496403',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1496544',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1496033',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1496218',
  'parent_country': "country='Europe / Greece'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1496556',
  'parent_country': "country='Europe / Greece'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1496938',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1513292',
  'parent_country': "country='Asia / India'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1513368',
  'parent_country': "country='Asia / Indonesia'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 823212',
  'parent_country': "country='Asia / India'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 836755',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 836758',
  'parent_country': "country='Europe / Turkey'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 839088',
  'parent_country': "country='Scotland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 839129',
  'parent_country': "country='Scotland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 839618',
  'parent_country': "country='Europe / Denmark'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 839625',
  'parent_country': "country='Europe / Denmark'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 840453',
  'parent_country': "country='Europe / France'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 841634',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 842947',
  'parent_country': "country='Europe / France'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 839217',
  'parent_country': "country='Europe / France'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 840468',
  'parent_country': "country='Europe / Netherlands'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 841092',
  'parent_country': "country='Europe / Spain'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 841274',
  'parent_country': "country='Europe / Spain'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 844457',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 844484',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 844451',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 845043',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 845705',
  'parent_country': "country='Scotland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 845114',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 846180',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 846178',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 846110',
  'parent_country': "country='Scotland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 846493',
  'parent_country': "country='Scotland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 847175',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 849520',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 849530',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 847172',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 846375',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 846307',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 846455',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 850639',
  'parent_country': "country='Asia / India'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 852295',
  'parent_country': "country='Asia / Japan'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 854388',
  'parent_country': "country='Africa / Uganda'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 854459',
  'parent_country': "country='Africa / Uganda'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 855117',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 855108',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 876696',
  'parent_country': "country='Asia / India'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 876837',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 877327',
  'parent_country': "country='Europe / Denmark'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 878805',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 879292',
  'parent_country': "country='Europe / France'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 880428',
  'parent_country': "country='Europe / Germany'",

In [163]:
timepoint4['into_ireland_nodes'] = list(map(lambda x: {'node': x['node'].replace(' ','_'), 'country': x['country'][9:-1], 'parent_country': x['parent_country'][9:-1]}, timepoint4['into_ireland_nodes']))

In [164]:
timepoint4['into_ireland_nodes_without_ambiguous'] = list(filter(lambda x: "|" not in x['parent_country'], timepoint4['into_ireland_nodes']))

In [165]:
len(timepoint4['into_ireland_nodes_without_ambiguous'])

1119

In [166]:
timepoint_4_country_counter = collections.Counter(list(map(lambda x: x['country'], timepoint4['into_ireland_nodes'])))
timepoint_4_country_frequency = timepoint_4_country_counter.most_common()
timepoint_4_country_frequency

[('Northern Ireland', 709), ('Republic of Ireland', 423)]

In [167]:
timepoint_4_roi_parent_country_counter = collections.Counter(list(map(lambda x: x['parent_country'], filter(lambda x: x['country'] == 'Republic of Ireland', timepoint4['into_ireland_nodes']))))
timepoint_4_roi_parent_country_frequency = timepoint_4_roi_parent_country_counter.most_common()
timepoint_4_roi_parent_country_frequency

[('England', 223),
 ('Asia / India', 33),
 ('Europe / Spain', 23),
 ('Scotland', 19),
 ('Europe / France', 13),
 ('North America / USA', 12),
 ('Europe / Netherlands', 11),
 ('Europe / Sweden', 10),
 ('Europe / Denmark', 10),
 ('Europe / Germany', 8),
 ('Europe / Greece', 6),
 ('Europe / Italy', 6),
 ('Europe / Russia', 5),
 ('Europe / Switzerland', 4),
 ('Republic of Ireland|England', 4),
 ('Wales', 3),
 ('Europe / Belgium', 3),
 ('Africa / Nigeria', 3),
 ('Europe / Turkey', 2),
 ('Europe / Portugal', 2),
 ('Europe / Iceland', 2),
 ('Africa / Kenya', 1),
 ('Europe / Lithuania', 1),
 ('Europe / Belgium|Europe / Italy', 1),
 ('Asia / Hong Kong', 1),
 ('Oceania / Australia', 1),
 ('Europe / Denmark|Europe / Netherlands|Republic of Ireland', 1),
 ('Europe / Belgium|Europe / France', 1),
 ('Europe / Denmark|Europe / Italy', 1),
 ('Asia / Japan', 1),
 ('Africa / Uganda', 1),
 ('Africa / Namibia', 1),
 ('Asia / Kyrgyzstan', 1),
 ('Europe / Croatia', 1),
 ('Asia / Israel', 1),
 ('Africa / Zimbabwe', 1),
 ('Europe / Germany|Asia / Israel', 1),
 ('Northern Ireland|Scotland', 1),
 ('Africa / South Africa', 1),
 ('Europe / Portugal|Republic of Ireland', 1),
 ('Europe / Slovakia', 1),
 ('Europe / Finland', 1)]

In [168]:
timepoint_4_ni_parent_country_counter = collections.Counter(list(map(lambda x: x['parent_country'], filter(lambda x: x['country'] == 'Northern Ireland', timepoint4['into_ireland_nodes']))))
timepoint_4_ni_parent_country_frequency = timepoint_4_ni_parent_country_counter.most_common()
timepoint_4_ni_parent_country_frequency

[('England', 503),
 ('Scotland', 31),
 ('Europe / Spain', 28),
 ('Europe / France', 21),
 ('Europe / Denmark', 18),
 ('Europe / Netherlands', 17),
 ('Europe / Sweden', 14),
 ('Europe / Germany', 13),
 ('Wales', 12),
 ('Asia / India', 9),
 ('Europe / Russia', 6),
 ('Europe / Portugal', 6),
 ('Europe / Switzerland', 4),
 ('Europe / Italy', 4),
 ('Africa / Nigeria', 3),
 ('North America / USA', 2),
 ('Europe / Greece', 2),
 ('Asia / South Korea', 2),
 ('Africa / Ghana', 2),
 ('North America / Mexico', 2),
 ('Europe / Belgium', 1),
 ('Asia / Indonesia', 1),
 ('Africa / Uganda', 1),
 ('Europe / Croatia', 1),
 ('Europe / Austria', 1),
 ('Wales|Northern Ireland|England', 1),
 ('Europe / Norway', 1),
 ('Asia / Israel', 1),
 ('Europe / France|Northern Ireland', 1),
 ('Europe / Slovenia', 1)]

In [169]:
timepoint_4_parent_country_counter = collections.Counter(list(map(lambda x: x['parent_country'], timepoint4['into_ireland_nodes'])))
timepoint_4_parent_country_frequency = timepoint_4_parent_country_counter.most_common()
timepoint_4_parent_country_frequency

[('England', 726),
 ('Europe / Spain', 51),
 ('Scotland', 50),
 ('Asia / India', 42),
 ('Europe / France', 34),
 ('Europe / Netherlands', 28),
 ('Europe / Denmark', 28),
 ('Europe / Sweden', 24),
 ('Europe / Germany', 21),
 ('Wales', 15),
 ('North America / USA', 14),
 ('Europe / Russia', 11),
 ('Europe / Italy', 10),
 ('Europe / Greece', 8),
 ('Europe / Switzerland', 8),
 ('Europe / Portugal', 8),
 ('Africa / Nigeria', 6),
 ('Europe / Belgium', 4),
 ('Republic of Ireland|England', 4),
 ('Europe / Turkey', 2),
 ('Africa / Uganda', 2),
 ('Europe / Croatia', 2),
 ('Asia / South Korea', 2),
 ('Asia / Israel', 2),
 ('Africa / Ghana', 2),
 ('North America / Mexico', 2),
 ('Europe / Iceland', 2),
 ('Africa / Kenya', 1),
 ('Europe / Lithuania', 1),
 ('Europe / Belgium|Europe / Italy', 1),
 ('Asia / Hong Kong', 1),
 ('Oceania / Australia', 1),
 ('Europe / Denmark|Europe / Netherlands|Republic of Ireland', 1),
 ('Europe / Belgium|Europe / France', 1),
 ('Europe / Denmark|Europe / Italy', 1),
 ('Asia / Indonesia', 1),
 ('Asia / Japan', 1),
 ('Europe / Austria', 1),
 ('Africa / Namibia', 1),
 ('Wales|Northern Ireland|England', 1),
 ('Asia / Kyrgyzstan', 1),
 ('Africa / Zimbabwe', 1),
 ('Europe / Germany|Asia / Israel', 1),
 ('Europe / Norway', 1),
 ('Northern Ireland|Scotland', 1),
 ('Africa / South Africa', 1),
 ('Europe / France|Northern Ireland', 1),
 ('Europe / Portugal|Republic of Ireland', 1),
 ('Europe / Slovakia', 1),
 ('Europe / Finland', 1),
 ('Europe / Slovenia', 1)]

In [170]:
timepoint_4_parent_country_frequency_df = pd.DataFrame(timepoint_4_parent_country_frequency, columns=['country','Both'])
timepoint_4_parent_country_frequency_df

                                              country  Both
0                                             England   726
1                                      Europe / Spain    51
2                                            Scotland    50
3                                        Asia / India    42
4                                     Europe / France    34
5                                Europe / Netherlands    28
6                                    Europe / Denmark    28
7                                     Europe / Sweden    24
8                                    Europe / Germany    21
9                                               Wales    15
10                                North America / USA    14
11                                    Europe / Russia    11
12                                     Europe / Italy    10
13                                    Europe / Greece     8
14                               Europe / Switzerland     8
15                                  Europe / Portugal     8
16                                   Africa / Nigeria     6
17                                   Europe / Belgium     4
18                        Republic of Ireland|England     4
19                                    Europe / Turkey     2
20                                    Africa / Uganda     2
21                                   Europe / Croatia     2
22                                 Asia / South Korea     2
23                                      Asia / Israel     2
24                                     Africa / Ghana     2
25                             North America / Mexico     2
26                                   Europe / Iceland     2
27                                     Africa / Kenya     1
28                                 Europe / Lithuania     1
29                    Europe / Belgium|Europe / Italy     1
30                                   Asia / Hong Kong     1
31                                Oceania / Australia     1
32  Europe / Denmark|Europe / Netherlands|Republic...     1
33                   Europe / Belgium|Europe / France     1
34                    Europe / Denmark|Europe / Italy     1
35                                   Asia / Indonesia     1
36                                       Asia / Japan     1
37                                   Europe / Austria     1
38                                   Africa / Namibia     1
39                     Wales|Northern Ireland|England     1
40                                  Asia / Kyrgyzstan     1
41                                  Africa / Zimbabwe     1
42                     Europe / Germany|Asia / Israel     1
43                                    Europe / Norway     1
44                          Northern Ireland|Scotland     1
45                              Africa / South Africa     1
46                   Europe / France|Northern Ireland     1
47              Europe / Portugal|Republic of Ireland     1
48                                  Europe / Slovakia     1
49                                   Europe / Finland     1
50                                  Europe / Slovenia     1

In [171]:
timepoint_4_parent_country_frequency_df = pd.merge(timepoint_4_parent_country_frequency_df, pd.DataFrame(timepoint_4_roi_parent_country_frequency, columns=['country','RoI']), how="left", on="country")
timepoint_4_parent_country_frequency_df = pd.merge(timepoint_4_parent_country_frequency_df, pd.DataFrame(timepoint_4_ni_parent_country_frequency, columns=['country','NI']), how="left", on="country")
timepoint_4_parent_country_frequency_df[['RoI', 'NI']] = timepoint_4_parent_country_frequency_df[['RoI', 'NI']].fillna(value=0).astype(int)

In [172]:
timepoint_4_parent_country_frequency_df['country'] = timepoint_4_parent_country_frequency_df.apply(remove_continent, axis=1)

In [173]:
timepoint_4_parent_country_frequency_df

                                              country  Both  RoI   NI
0                                             England   726  223  503
1                                               Spain    51   23   28
2                                            Scotland    50   19   31
3                                               India    42   33    9
4                                              France    34   13   21
5                                         Netherlands    28   11   17
6                                             Denmark    28   10   18
7                                              Sweden    24   10   14
8                                             Germany    21    8   13
9                                               Wales    15    3   12
10                                                USA    14   12    2
11                                             Russia    11    5    6
12                                              Italy    10    6    4
13                                             Greece     8    6    2
14                                        Switzerland     8    4    4
15                                           Portugal     8    2    6
16                                            Nigeria     6    3    3
17                                            Belgium     4    3    1
18                        Republic of Ireland|England     4    4    0
19                                             Turkey     2    2    0
20                                             Uganda     2    1    1
21                                            Croatia     2    1    1
22                                        South Korea     2    0    2
23                                             Israel     2    1    1
24                                              Ghana     2    0    2
25                                             Mexico     2    0    2
26                                            Iceland     2    2    0
27                                              Kenya     1    1    0
28                                          Lithuania     1    1    0
29                    Europe / Belgium|Europe / Italy     1    1    0
30                                          Hong Kong     1    1    0
31                                          Australia     1    1    0
32  Europe / Denmark|Europe / Netherlands|Republic...     1    1    0
33                   Europe / Belgium|Europe / France     1    1    0
34                    Europe / Denmark|Europe / Italy     1    1    0
35                                          Indonesia     1    0    1
36                                              Japan     1    1    0
37                                            Austria     1    0    1
38                                            Namibia     1    1    0
39                     Wales|Northern Ireland|England     1    0    1
40                                         Kyrgyzstan     1    1    0
41                                           Zimbabwe     1    1    0
42                     Europe / Germany|Asia / Israel     1    1    0
43                                             Norway     1    0    1
44                          Northern Ireland|Scotland     1    1    0
45                                       South Africa     1    1    0
46                   Europe / France|Northern Ireland     1    0    1
47              Europe / Portugal|Republic of Ireland     1    1    0
48                                           Slovakia     1    1    0
49                                            Finland     1    1    0
50                                           Slovenia     1    0    1

In [174]:
timepoint_4_parent_country_frequency_df.to_csv('../outputFiles/timepoint_4_parent_country_frequency.csv', index=False)

In [175]:
num_country_tipsTimepoint4 = strainCountryTimepoint4.groupby('country').count().reset_index()
num_country_tipsTimepoint4.rename(columns={'strain': 'num_tips'}, inplace=True)
num_country_tipsTimepoint4

                       country  num_tips
0             Africa / Algeria        10
1              Africa / Angola        18
2               Africa / Benin        18
3            Africa / Botswana        76
4             Africa / Burundi        57
..                         ...       ...
157   South America / Paraguay         8
158       South America / Peru        83
159   South America / Suriname         3
160  South America / Venezuela         2
161                      Wales      9969

[162 rows x 2 columns]

In [176]:
num_country_tipsTimepoint4['country'] = num_country_tipsTimepoint4.apply(remove_continent, axis=1)
num_country_tipsTimepoint4

       country  num_tips
0      Algeria        10
1       Angola        18
2        Benin        18
3     Botswana        76
4      Burundi        57
..         ...       ...
157   Paraguay         8
158       Peru        83
159   Suriname         3
160  Venezuela         2
161      Wales      9969

[162 rows x 2 columns]

In [177]:
timepoint_4_parent_country_frequency_df = pd.merge(num_country_tipsTimepoint4, timepoint_4_parent_country_frequency_df, how="left", on=['country']).fillna(value=0)
timepoint_4_parent_country_frequency_df

       country  num_tips  Both  RoI    NI
0      Algeria        10   0.0  0.0   0.0
1       Angola        18   0.0  0.0   0.0
2        Benin        18   0.0  0.0   0.0
3     Botswana        76   0.0  0.0   0.0
4      Burundi        57   0.0  0.0   0.0
..         ...       ...   ...  ...   ...
157   Paraguay         8   0.0  0.0   0.0
158       Peru        83   0.0  0.0   0.0
159   Suriname         3   0.0  0.0   0.0
160  Venezuela         2   0.0  0.0   0.0
161      Wales      9969  15.0  3.0  12.0

[162 rows x 5 columns]

In [178]:
timepoint_4_parent_country_frequency_df[~timepoint_4_parent_country_frequency_df['country'].isin(country_lat_long['country'])]

                 country  num_tips  Both  RoI   NI
137     Northern Ireland      3147   0.0  0.0  0.0
145  Republic of Ireland      4923   0.0  0.0  0.0

In [179]:
timepoint_4_parent_country_frequency_df = pd.merge(country_lat_long, timepoint_4_parent_country_frequency_df, how="inner", on=['country'])
timepoint_4_parent_country_frequency_df

,longitude,latitude,country,distance_from_ireland,num_tips,Both,RoI,NI
0,-145.255376,-13.526317,French Polynesia,14206.711886,1,0.0,0.0,0.0
1,-90.312193,15.820879,Guatemala,8079.118206,80,0.0,0.0,0.0
2,-103.120439,23.643948,Mexico,8231.394213,3673,2.0,0.0,2.0
3,-93.566635,62.365872,Canada,4765.573313,8793,0.0,0.0,0.0
4,-64.443152,-37.605645,Argentina,11458.955064,83,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
155,34.600000,45.250000,Crimea,3182.289574,12,0.0,0.0,0.0
156,-1.464854,52.561928,England,462.610475,152100,726.0,223.0,503.0
157,-4.183963,56.816738,Scotland,468.558618,20683,50.0,19.0,31.0
158,-3.766409,52.330220,Wales,320.735659,9969,15.0,3.0,12.0
159,20.850000,42.550000,Kosovo,2452.265860,103,0.0,0.0,0.0

In [180]:
timepoint_4_parent_country_frequency_df.to_csv('../outputFiles/timepoint_4_parent_country_frequency_distance.csv', index=False)

In [181]:
timepoint_4_parent_country_frequency_df[timepoint_4_parent_country_frequency_df['Both'] > 0][['country','Both']].to_csv('../outputFiles/timepoint_4_country_frequency.csv', index=False)

In [183]:
for intro in tqdm(timepoint4['into_ireland_nodes']):
    parent_clusters = []
    is_parent_in_timepoint_list(intro['node'].replace('_',' '), tree4, timepoint4['into_ireland_nodes'])
    if len(parent_clusters) > 0:
        print(intro['node'])
        print(parent_clusters)

  0%|          | 0/1132 [00:00<?, ?it/s]

In [184]:
cluster_num = 0
clusters_timepoint_d = []
for intro in tqdm(timepoint4['into_ireland_nodes']):
    cluster_num += 1
    descendant_tips = []
    find_irish_clusters(tree4.find_node_with_label(intro['node'].replace('_',' ')), descendant_tips)
    for tip in list(set(descendant_tips)):
        clusters_timepoint_d.append({'tip': tip.replace(' ','_'), 'cluster': cluster_num, 'timepoint': 'D'})

  0%|          | 0/1132 [00:00<?, ?it/s]

In [185]:
clusters_timepoint_d_df = pd.DataFrame(clusters_timepoint_d)
clusters_timepoint_d_df

                   tip  cluster timepoint
0      EPI_ISL_2363379        1         D
1      EPI_ISL_2533637        1         D
2      EPI_ISL_2193937        1         D
3      EPI_ISL_2612914        1         D
4      EPI_ISL_2601122        1         D
...                ...      ...       ...
8089   EPI_ISL_2984348     1131         D
8090   EPI_ISL_3247631     1131         D
8091   EPI_ISL_3205303     1131         D
8092   EPI_ISL_1976611     1132         D
8093  EPI_ISL_10125943     1132         D

[8094 rows x 3 columns]

In [186]:
len(clusters_timepoint_d_df['tip'].unique())

8070

In [187]:
clusters_timepoint_d_df.groupby('cluster').count().describe()

               tip    timepoint
count  1132.000000  1132.000000
mean      7.150177     7.150177
std      43.302265    43.302265
min       1.000000     1.000000
25%       1.000000     1.000000
50%       1.000000     1.000000
75%       2.000000     2.000000
max     970.000000   970.000000

In [188]:
clusters_timepoint_d_df.to_csv('../outputFiles/clusters/clusters_timepoint_D.csv', index=False)

In [189]:
clusters_timepoint_d_df.groupby('cluster').count().sort_values(by='tip',ascending=False)

         tip  timepoint
cluster
613      970        970
13       795        795
1049     330        330
225      284        284
701      246        246
...      ...        ...
577        1          1
579        1          1
580        1          1
141        1          1
126        1          1

[1132 rows x 2 columns]

In [190]:
clusters_timepoint_d_df.groupby('cluster').count().reset_index().rename(columns={'tip':'irish_samples'})[['cluster','irish_samples']].to_csv('../outputFiles/clusters/clusters_timepoint_D_size.csv', index=False)

### Timepoint E

In [191]:
tree5 = dendropy.Tree.get(path="../outputFiles/timepoint5_all_pastml/named.tree_timepoint5.rooted.nwk", schema="newick")
tree5

In [192]:
strainCountryTimepoint5 = pd.read_csv('../outputFiles/timepoint5.strainCountry.all.txt')
strainCountryTimepoint5

                   strain              country
0          EPI_ISL_402125         Asia / China
1        EPI_ISL_11246938     Africa / Nigeria
2        EPI_ISL_11229467     Europe / Austria
3         EPI_ISL_8542937         Asia / India
4         EPI_ISL_8542934         Asia / India
...                   ...                  ...
1313963   EPI_ISL_9681542              England
1313964   EPI_ISL_9681866              England
1313965   EPI_ISL_9681987              England
1313966   EPI_ISL_9681523              England
1313967  EPI_ISL_10238142  North America / USA

[1313968 rows x 2 columns]

In [193]:
strainCountryTimepoint5['strain'] = strainCountryTimepoint5['strain'].str.replace('_',' ')

In [194]:
strainCountryTimepoint5.describe()

                strain              country
count          1313968              1313968
unique         1313968                  164
top     EPI ISL 402125  North America / USA
freq                 1               470629

In [195]:
strainCountryTimepoint5[strainCountryTimepoint5['country'].isin(['Republic of Ireland','Northern Ireland'])].groupby('country').count()

                     strain
country
Northern Ireland       3949
Republic of Ireland    7888

In [196]:
timepoint5 = process_tree(tree5)

In [197]:
len(timepoint5['into_ireland_nodes'])

2118

In [198]:
len(list({v['node']:v for v in timepoint5['into_ireland_nodes']}.values()))

1975

In [199]:
len(timepoint5['between_ireland_nodes'])

71

In [200]:
len(list({v['node']:v for v in timepoint5['between_ireland_nodes']}.values()))

71

In [201]:
timepoint5['between_ireland_nodes']

[{'node': 'node 423746',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 423723',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 423724',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 604844',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 606013',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 600527',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 600520',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 602001',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 601994',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 602110',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 602790',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 602812',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 602962',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 603998',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 604004',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 607348',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 604250',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 607408',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 724729',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 739550',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 390453',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 390597',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 390596',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 390868',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 390923',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 391338',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 391334',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 391439',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 392157',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 399356',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 399337',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 399681',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 402137',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 402710',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 401416',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 401405',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 402162',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 414531',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 414220',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 414194',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 414972',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 415032',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 414793',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 577994',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 578010',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 578011',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 578016',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 577992',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 453632',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 454212',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 454199',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 456231',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 480692',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 544793',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 544741',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 544961',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 545244',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 545611',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 545609',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 546202',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 435645',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 583699',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 584529',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 590672',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 611788',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 740430',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 748220',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 748216',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 749232',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 749229',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 754425',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"}]

In [202]:
timepoint_5_between_country_counter = collections.Counter(list(map(lambda x: x['parent_country'], timepoint5['between_ireland_nodes'])))
timepoint_5_between_country_frequency = timepoint_5_between_country_counter.most_common()
timepoint_5_between_country_frequency

[("country='Republic of Ireland'", 38), ("country='Northern Ireland'", 33)]

In [203]:
timepoint5['into_ireland_nodes'] = list({v['node']:v for v in timepoint5['into_ireland_nodes']}.values())
timepoint5['into_ireland_nodes']

[{'node': 'node 386844',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 387076',
  'parent_country': "country='North America / USA'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 755871',
  'parent_country': "country='Scotland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 387082',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 427232',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 427177',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 427660',
  'parent_country': "country='North America / USA'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 427711',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 428564',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 421978',
  'parent_country': "country='Europe / Germany'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 421995',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 421998',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 422186',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 422256',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 422594',
  'parent_country': "country='Europe / France'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 423346',
  'parent_country': "country='Europe / Croatia'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 423683',
  'parent_country': "country='Europe / France'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 423881',
  'parent_country': "country='Europe / France'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 424035',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 424231',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 424403',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 424580',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 424682',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 424689',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 424767',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 424832',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 424920',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 425022',
  'parent_country': "country='Europe / France'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 425048',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 425081',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 425103',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 425114',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 425128',
  'parent_country': "country='Europe / France'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 425148',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 425262',
  'parent_country': "country='Republic of Ireland|Europe / Switzerland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 425306',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 425335',
  'parent_country': "country='Europe / France'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 425348',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 425385',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 425404',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 425438',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 425444',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 425541',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 425569',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 425643',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 425647',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 425655',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 425686',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 425717',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 425832',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 425852',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 425862',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 425937',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 426057',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 426079',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 426118',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 426126',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 426137',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 426168',
  'parent_country': "country='Europe / France'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 426193',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 426227',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 426279',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 426285',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 426292',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 426294',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 426306',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 426307',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 426382',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 426485',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 426504',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 426527',
  'parent_country': "country='Europe / France'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 426532',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 426615',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 426718',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 426873',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 427114',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 427152',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 427163',
  'parent_country': "country='Europe / France'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 421669',
  'parent_country': "country='Europe / Germany'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 422760',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 423032',
  'parent_country': "country='Europe / Germany'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 422992',
  'parent_country': "country='Europe / Poland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 422653',
  'parent_country': "country='Europe / Germany'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 423544',
  'parent_country': "country='Europe / Germany'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 424234',
  'parent_country': "country='Europe / Germany'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 424312',
  'parent_country': "country='Europe / Germany'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 425067',
  'parent_country': "country='Europe / Germany'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 425209',
  'parent_country': "country='Europe / Germany'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 425529',
  'parent_country': "country='Europe / Germany'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 425526',
  'parent_country': "country='Europe / Germany'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 423924',
  'parent_country': "country='Europe / Switzerland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 424748',
  'parent_country': "country='Europe / Switzerland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 425285',
  'parent_country': "country='Scotland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 426114',
  'parent_country': "country='Europe / Netherlands'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 421631',
  'parent_country': "country='Europe / France'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 424209',
  'parent_country': "country='Europe / Slovakia'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 425352',
  'parent_country': "country='Asia / Bangladesh'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 421629',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 429526',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 429365',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 429476',
  'parent_country': "country='Scotland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 582132',
  'parent_country': "country='Asia / India'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 582135',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 582128',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 582303',
  'parent_country': "country='Asia / India'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 582383',
  'parent_country': "country='Europe / Poland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 582457',
  'parent_country': "country='Republic of Ireland|Europe / Poland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 582450',
  'parent_country': "country='Europe / Poland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 582155',
  'parent_country': "country='Europe / Turkey'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 582247',
  'parent_country': "country='Europe / Poland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 582235',
  'parent_country': "country='Asia / Sri Lanka'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 582256',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 582154',
  'parent_country': "country='Europe / Turkey'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 582283',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 582153',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 582549',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 582590',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 582650',
  'parent_country': "country='Europe / Belgium'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 582786',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 600082',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 600818',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 600833',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 600887',
  'parent_country': "country='North America / USA'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 600989',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 601066',
  'parent_country': "country='South America / Brazil'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 601156',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 601475',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 601501',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 601573',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 601587',
  'parent_country': "country='North America / USA'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 601613',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 601629',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 602090',
  'parent_country': "country='Europe / Germany'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 602190',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 602195',
  'parent_country': "country='North America / USA'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 602203',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 602225',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 602291',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 602339',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 602409',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 602301',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 602424',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 602299',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 602639',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 602652',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 602718',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 602698',
  'parent_country': "country='North America / USA'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 602744',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 602805',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 602817',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 602818',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 602968',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 602982',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 602998',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 603021',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 603032',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 603058',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 603098',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 603171',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 603178',
  'parent_country': "country='North America / USA'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 603192',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 603198',
  'parent_country': "country='North America / USA'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 603251',
  'parent_country': "country='North America / USA'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 603261',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 603577',

In [204]:
timepoint5['into_ireland_nodes'] = list(map(lambda x: {'node': x['node'].replace(' ','_'), 'country': x['country'][9:-1], 'parent_country': x['parent_country'][9:-1]}, timepoint5['into_ireland_nodes']))

In [205]:
timepoint5['into_ireland_nodes_without_ambiguous'] = list(filter(lambda x: "|" not in x['parent_country'], timepoint5['into_ireland_nodes']))

In [206]:
len(timepoint5['into_ireland_nodes_without_ambiguous'])

1958

In [207]:
timepoint_5_country_counter = collections.Counter(list(map(lambda x: x['country'], timepoint5['into_ireland_nodes'])))
timepoint_5_country_frequency = timepoint_5_country_counter.most_common()
timepoint_5_country_frequency

[('Republic of Ireland', 1334), ('Northern Ireland', 641)]

In [208]:
timepoint_5_roi_parent_country_counter = collections.Counter(list(map(lambda x: x['parent_country'], filter(lambda x: x['country'] == 'Republic of Ireland', timepoint5['into_ireland_nodes']))))
timepoint_5_roi_parent_country_frequency = timepoint_5_roi_parent_country_counter.most_common()
timepoint_5_roi_parent_country_frequency

[('England', 595),
 ('North America / USA', 380),
 ('Europe / France', 105),
 ('Europe / Spain', 34),
 ('Europe / Germany', 32),
 ('Europe / Poland', 21),
 ('North America / Canada', 21),
 ('Scotland', 14),
 ('South America / Brazil', 10),
 ('Europe / Croatia', 8),
 ('Europe / Belgium', 8),
 ('Europe / Denmark', 8),
 ('Europe / Switzerland', 7),
 ('Oceania / Australia', 7),
 ('Wales', 7),
 ('Europe / Netherlands', 6),
 ('Asia / India', 5),
 ('Asia / Japan', 5),
 ('Europe / Italy', 4),
 ('Africa / South Africa', 4),
 ('Europe / Turkey', 3),
 ('Europe / Portugal', 3),
 ('Europe / Latvia', 3),
 ('Europe / Norway', 3),
 ('Republic of Ireland|Europe / Poland', 2),
 ('South America / Peru', 2),
 ('Republic of Ireland|Europe / Germany', 2),
 ('Europe / Czech Republic', 2),
 ('Europe / Lithuania', 2),
 ('Europe / Slovenia', 2),
 ('Europe / Romania', 2),
 ('Republic of Ireland|Europe / Switzerland', 1),
 ('Asia / Bangladesh', 1),
 ('Asia / Sri Lanka', 1),
 ('England|Republic of Ireland', 1),
 ('Africa / Mauritius', 1),
 ('Europe / Netherlands|Europe / Poland', 1),
 ('Africa / Ghana', 1),
 ('Africa / South Africa|Europe / Poland', 1),
 ('North America / Mexico', 1),
 ('Republic of Ireland|Asia / Indonesia', 1),
 ('Europe / Finland', 1),
 ('Europe / France|Europe / Germany', 1),
 ('Republic of Ireland|Europe / Slovakia', 1),
 ('Europe / Sweden', 1),
 ('Europe / Italy|Europe / Poland', 1),
 ('Asia / Malaysia', 1),
 ('North America / Costa Rica', 1),
 ('Africa / Seychelles', 1),
 ('South America / Argentina', 1),
 ('Republic of Ireland|England', 1),
 ('Asia / Indonesia', 1),
 ('Asia / Thailand', 1),
 ('Europe / Austria', 1),
 ('Europe / Slovakia|Europe / Poland', 1),
 ('Europe / Bulgaria', 1),
 ('Africa / Reunion', 1),
 ('Republic of Ireland|North America / USA', 1)]

In [209]:
timepoint_5_ni_parent_country_counter = collections.Counter(list(map(lambda x: x['parent_country'], filter(lambda x: x['country'] == 'Northern Ireland', timepoint5['into_ireland_nodes']))))
timepoint_5_ni_parent_country_frequency = timepoint_5_ni_parent_country_counter.most_common()
timepoint_5_ni_parent_country_frequency

[('England', 401),
 ('North America / USA', 137),
 ('Scotland', 34),
 ('Europe / France', 18),
 ('Europe / Germany', 9),
 ('Wales', 6),
 ('North America / Canada', 5),
 ('Europe / Spain', 5),
 ('Europe / Poland', 4),
 ('Asia / India', 4),
 ('South America / Brazil', 3),
 ('Africa / South Africa', 3),
 ('Europe / Italy', 2),
 ('Asia / Japan', 2),
 ('Europe / Slovakia', 1),
 ('Europe / Romania', 1),
 ('Scotland|Northern Ireland', 1),
 ('Europe / Slovenia', 1),
 ('Europe / Portugal', 1),
 ('Europe / Croatia', 1),
 ('Europe / Switzerland|Northern Ireland', 1),
 ('Europe / Bulgaria', 1)]

In [210]:
timepoint_5_parent_country_counter = collections.Counter(list(map(lambda x: x['parent_country'], timepoint5['into_ireland_nodes'])))
timepoint_5_parent_country_frequency = timepoint_5_parent_country_counter.most_common()
timepoint_5_parent_country_frequency

[('England', 996),
 ('North America / USA', 517),
 ('Europe / France', 123),
 ('Scotland', 48),
 ('Europe / Germany', 41),
 ('Europe / Spain', 39),
 ('North America / Canada', 26),
 ('Europe / Poland', 25),
 ('South America / Brazil', 13),
 ('Wales', 13),
 ('Europe / Croatia', 9),
 ('Asia / India', 9),
 ('Europe / Belgium', 8),
 ('Europe / Denmark', 8),
 ('Europe / Switzerland', 7),
 ('Asia / Japan', 7),
 ('Oceania / Australia', 7),
 ('Africa / South Africa', 7),
 ('Europe / Netherlands', 6),
 ('Europe / Italy', 6),
 ('Europe / Portugal', 4),
 ('Europe / Turkey', 3),
 ('Europe / Romania', 3),
 ('Europe / Slovenia', 3),
 ('Europe / Latvia', 3),
 ('Europe / Norway', 3),
 ('Republic of Ireland|Europe / Poland', 2),
 ('South America / Peru', 2),
 ('Republic of Ireland|Europe / Germany', 2),
 ('Europe / Czech Republic', 2),
 ('Europe / Lithuania', 2),
 ('Europe / Bulgaria', 2),
 ('Republic of Ireland|Europe / Switzerland', 1),
 ('Europe / Slovakia', 1),
 ('Asia / Bangladesh', 1),
 ('Asia / Sri Lanka', 1),
 ('England|Republic of Ireland', 1),
 ('Africa / Mauritius', 1),
 ('Europe / Netherlands|Europe / Poland', 1),
 ('Africa / Ghana', 1),
 ('Scotland|Northern Ireland', 1),
 ('Africa / South Africa|Europe / Poland', 1),
 ('North America / Mexico', 1),
 ('Republic of Ireland|Asia / Indonesia', 1),
 ('Europe / Finland', 1),
 ('Europe / France|Europe / Germany', 1),
 ('Republic of Ireland|Europe / Slovakia', 1),
 ('Europe / Sweden', 1),
 ('Europe / Italy|Europe / Poland', 1),
 ('Asia / Malaysia', 1),
 ('North America / Costa Rica', 1),
 ('Africa / Seychelles', 1),
 ('Europe / Switzerland|Northern Ireland', 1),
 ('South America / Argentina', 1),
 ('Republic of Ireland|England', 1),
 ('Asia / Indonesia', 1),
 ('Asia / Thailand', 1),
 ('Europe / Austria', 1),
 ('Europe / Slovakia|Europe / Poland', 1),
 ('Africa / Reunion', 1),
 ('Republic of Ireland|North America / USA', 1)]

In [211]:
timepoint_5_parent_country_frequency_df = pd.DataFrame(timepoint_5_parent_country_frequency, columns=['country','Both'])
timepoint_5_parent_country_frequency_df

                                    country  Both
0                                   England   996
1                       North America / USA   517
2                           Europe / France   123
3                                  Scotland    48
4                          Europe / Germany    41
..                                      ...   ...
56                          Asia / Thailand     1
57                         Europe / Austria     1
58        Europe / Slovakia|Europe / Poland     1
59                         Africa / Reunion     1
60  Republic of Ireland|North America / USA     1

[61 rows x 2 columns]

In [212]:
timepoint_5_parent_country_frequency_df = pd.merge(timepoint_5_parent_country_frequency_df, pd.DataFrame(timepoint_5_roi_parent_country_frequency, columns=['country','RoI']), how="left", on="country")
timepoint_5_parent_country_frequency_df = pd.merge(timepoint_5_parent_country_frequency_df, pd.DataFrame(timepoint_5_ni_parent_country_frequency, columns=['country','NI']), how="left", on="country")
timepoint_5_parent_country_frequency_df[['RoI', 'NI']] = timepoint_5_parent_country_frequency_df[['RoI', 'NI']].fillna(value=0).astype(int)

In [213]:
timepoint_5_parent_country_frequency_df['country'] = timepoint_5_parent_country_frequency_df.apply(remove_continent, axis=1)

In [214]:
timepoint_5_parent_country_frequency_df

                                    country  Both  RoI   NI
0                                   England   996  595  401
1                                       USA   517  380  137
2                                    France   123  105   18
3                                  Scotland    48   14   34
4                                   Germany    41   32    9
..                                      ...   ...  ...  ...
56                                 Thailand     1    1    0
57                                  Austria     1    1    0
58        Europe / Slovakia|Europe / Poland     1    1    0
59                                  Reunion     1    1    0
60  Republic of Ireland|North America / USA     1    1    0

[61 rows x 4 columns]

In [215]:
timepoint_5_parent_country_frequency_df.to_csv('../outputFiles/timepoint_5_parent_country_frequency.csv', index=False)

In [216]:
num_country_tipsTimepoint5 = strainCountryTimepoint5.groupby('country').count().reset_index()
num_country_tipsTimepoint5.rename(columns={'strain': 'num_tips'}, inplace=True)
num_country_tipsTimepoint5

                                 country  num_tips
0                       Africa / Algeria         1
1                        Africa / Angola        23
2                      Africa / Botswana       726
3                    Africa / Cabo Verde       133
4                      Africa / Cameroon         4
..                                   ...       ...
159                 South America / Peru      1872
160             South America / Suriname        64
161  South America / Trinidad and Tobago        34
162            South America / Venezuela        39
163                                Wales     34537

[164 rows x 2 columns]

In [217]:
num_country_tipsTimepoint5['country'] = num_country_tipsTimepoint5.apply(remove_continent, axis=1)
num_country_tipsTimepoint5

                 country  num_tips
0                Algeria         1
1                 Angola        23
2               Botswana       726
3             Cabo Verde       133
4               Cameroon         4
..                   ...       ...
159                 Peru      1872
160             Suriname        64
161  Trinidad and Tobago        34
162            Venezuela        39
163                Wales     34537

[164 rows x 2 columns]

In [218]:
timepoint_5_parent_country_frequency_df = pd.merge(num_country_tipsTimepoint5, timepoint_5_parent_country_frequency_df, how="left", on=['country']).fillna(value=0)
timepoint_5_parent_country_frequency_df

                 country  num_tips  Both  RoI   NI
0                Algeria         1   0.0  0.0  0.0
1                 Angola        23   0.0  0.0  0.0
2               Botswana       726   0.0  0.0  0.0
3             Cabo Verde       133   0.0  0.0  0.0
4               Cameroon         4   0.0  0.0  0.0
..                   ...       ...   ...  ...  ...
159                 Peru      1872   2.0  2.0  0.0
160             Suriname        64   0.0  0.0  0.0
161  Trinidad and Tobago        34   0.0  0.0  0.0
162            Venezuela        39   0.0  0.0  0.0
163                Wales     34537  13.0  7.0  6.0

[164 rows x 5 columns]

In [219]:
timepoint_5_parent_country_frequency_df[~timepoint_5_parent_country_frequency_df['country'].isin(country_lat_long['country'])]

                 country  num_tips  Both  RoI   NI
138     Northern Ireland      3949   0.0  0.0  0.0
146  Republic of Ireland      7888   0.0  0.0  0.0

In [220]:
timepoint_5_parent_country_frequency_df = pd.merge(country_lat_long, timepoint_5_parent_country_frequency_df, how="inner", on=['country'])
timepoint_5_parent_country_frequency_df

,longitude,latitude,country,distance_from_ireland,num_tips,Both,RoI,NI
0,-170.700732,-14.305712,American Samoa,15412.146132,8,0.0,0.0,0.0
1,-145.255376,-13.526317,French Polynesia,14206.711886,13,0.0,0.0,0.0
2,-88.859115,13.758042,El Salvador,8163.052966,147,0.0,0.0,0.0
3,-90.312193,15.820879,Guatemala,8079.118206,285,0.0,0.0,0.0
4,-103.120439,23.643948,Mexico,8231.394213,8149,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...
157,35.000000,31.400000,Palestine,4213.049700,6,0.0,0.0,0.0
158,-1.464854,52.561928,England,462.610475,344687,996.0,595.0,401.0
159,-4.183963,56.816738,Scotland,468.558618,32025,48.0,14.0,34.0
160,-3.766409,52.330220,Wales,320.735659,34537,13.0,7.0,6.0
161,20.850000,42.550000,Kosovo,2452.265860,61,0.0,0.0,0.0

In [221]:
timepoint_5_parent_country_frequency_df.to_csv('../outputFiles/timepoint_5_parent_country_frequency_distance.csv', index=False)

In [222]:
timepoint_5_parent_country_frequency_df[timepoint_5_parent_country_frequency_df['Both'] > 0][['country','Both']].to_csv('../outputFiles/timepoint_5_country_frequency.csv', index=False)

In [224]:
for intro in tqdm(timepoint5['into_ireland_nodes']):
    parent_clusters = []
    is_parent_in_timepoint_list(intro['node'].replace('_',' '), tree5, timepoint5['into_ireland_nodes'])
    if len(parent_clusters) > 0:
        print(intro['node'])
        print(parent_clusters)

  0%|          | 0/1975 [00:00<?, ?it/s]

In [225]:
cluster_num = 0
clusters_timepoint_e = []
for intro in tqdm(timepoint5['into_ireland_nodes']):
    cluster_num += 1
    descendant_tips = []
    find_irish_clusters(tree5.find_node_with_label(intro['node'].replace('_',' ')), descendant_tips)
    for tip in list(set(descendant_tips)):
        clusters_timepoint_e.append({'tip': tip.replace(' ','_'), 'cluster': cluster_num, 'timepoint': 'E'})

  0%|          | 0/1975 [00:00<?, ?it/s]

In [226]:
clusters_timepoint_e_df = pd.DataFrame(clusters_timepoint_e)
clusters_timepoint_e_df

                    tip  cluster timepoint
0      EPI_ISL_10174017        1         E
1      EPI_ISL_10178453        2         E
2      EPI_ISL_10175130        2         E
3      EPI_ISL_10174898        2         E
4      EPI_ISL_10175823        2         E
...                 ...      ...       ...
11854  EPI_ISL_10177968     1973         E
11855   EPI_ISL_8805406     1974         E
11856  EPI_ISL_10171890     1974         E
11857  EPI_ISL_10173607     1974         E
11858  EPI_ISL_10173697     1975         E

[11859 rows x 3 columns]

In [227]:
len(clusters_timepoint_e_df['tip'].unique())

11837

In [228]:
clusters_timepoint_e_df.groupby('cluster').count().describe()

               tip    timepoint
count  1975.000000  1975.000000
mean      6.004557     6.004557
std      48.316034    48.316034
min       1.000000     1.000000
25%       1.000000     1.000000
50%       1.000000     1.000000
75%       2.000000     2.000000
max    1325.000000  1325.000000

In [229]:
clusters_timepoint_e_df.to_csv('../outputFiles/clusters/clusters_timepoint_E.csv', index=False)

In [230]:
clusters_timepoint_e_df.groupby('cluster').count().sort_values(by='tip',ascending=False)

          tip  timepoint
cluster
316      1325       1325
1408      913        913
876       615        615
337       542        542
640       507        507
...       ...        ...
766         1          1
765         1          1
763         1          1
762         1          1
1975        1          1

[1975 rows x 2 columns]

In [231]:
clusters_timepoint_e_df.groupby('cluster').count().reset_index().rename(columns={'tip':'irish_samples'})[['cluster','irish_samples']].to_csv('../outputFiles/clusters/clusters_timepoint_E_size.csv', index=False)

### Timepoint F

In [232]:
tree6 = dendropy.Tree.get(path="../outputFiles/timepoint6_all_pastml/named.tree_timepoint6.rooted.nwk", schema="newick")
tree6

In [233]:
strainCountryTimepoint6 = pd.read_csv('../outputFiles/timepoint6.strainCountry.all.txt')
strainCountryTimepoint6

                  strain                country
0         EPI_ISL_402125           Asia / China
1        EPI_ISL_9796145        Europe / France
2       EPI_ISL_10504840           Asia / India
3        EPI_ISL_9679276  Africa / South Africa
4        EPI_ISL_8128463  Africa / South Africa
...                  ...                    ...
644939  EPI_ISL_11670731        Europe / Poland
644940  EPI_ISL_11670738        Europe / Poland
644941  EPI_ISL_11664475        Europe / Poland
644942  EPI_ISL_11670728        Europe / Poland
644943  EPI_ISL_11670730        Europe / Poland

[644944 rows x 2 columns]

In [234]:
strainCountryTimepoint6['strain'] = strainCountryTimepoint6['strain'].str.replace('_',' ')

In [235]:
strainCountryTimepoint6.describe()

                strain  country
count           644944   644944
unique          644944      112
top     EPI ISL 402125  England
freq                 1   221477

In [236]:
strainCountryTimepoint6[strainCountryTimepoint6['country'].isin(['Republic of Ireland','Northern Ireland'])].groupby('country').count()

                     strain
country
Northern Ireland       5586
Republic of Ireland    1235

In [237]:
timepoint6 = process_tree(tree6)

In [238]:
len(timepoint6['into_ireland_nodes'])

1488

In [239]:
len(list({v['node']:v for v in timepoint6['into_ireland_nodes']}.values()))

1348

In [240]:
len(timepoint6['between_ireland_nodes'])

37

In [241]:
len(list({v['node']:v for v in timepoint6['between_ireland_nodes']}.values()))

37

In [242]:
timepoint6['between_ireland_nodes']

[{'node': 'node 658145',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 676376',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 684985',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 685234',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 685348',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 685347',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 692519',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 693248',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 699054',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 703283',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 703280',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 707059',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 707060',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 707072',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 649733',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 698440',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 700549',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 694996',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 694982',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 695649',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 697034',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 696950',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 697097',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 698721',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 698747',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 699951',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 700124',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 700114',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 700568',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 700692',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 702351',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 702352',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 703088',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 703087',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 703323',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 703867',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 706818',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"}]

In [243]:
timepoint_6_between_country_counter = collections.Counter(list(map(lambda x: x['parent_country'], timepoint6['between_ireland_nodes'])))
timepoint_6_between_country_frequency = timepoint_6_between_country_counter.most_common()
timepoint_6_between_country_frequency

[("country='Northern Ireland'", 32), ("country='Republic of Ireland'", 5)]

In [244]:
timepoint6['into_ireland_nodes'] = list({v['node']:v for v in timepoint6['into_ireland_nodes']}.values())
timepoint6['into_ireland_nodes']

[{'node': 'node 614636',
  'parent_country': "country='Europe / Germany'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 614626',
  'parent_country': "country='Europe / Belgium'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 653553',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 653552',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 653551',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 653581',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 653661',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 654646',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 654666',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 654967',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 655196',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 655483',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 655581',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 655894',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 656114',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 656302',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 656322',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 656665',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 656676',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 656714',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 656736',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 656830',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 656827',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 656889',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 656876',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 656904',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 656905',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 656867',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 657012',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 657135',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 657118',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 657367',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 657506',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 657970',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 658144',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 658287',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 658313',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 658370',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 659221',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 659263',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 659463',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 654061',
  'parent_country': "country='North America / USA|England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 654075',
  'parent_country': "country='Scotland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 653942',
  'parent_country': "country='Wales'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 654399',
  'parent_country': "country='Asia / India'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 654858',
  'parent_country': "country='Asia / India'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 657931',
  'parent_country': "country='Asia / India'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 655960',
  'parent_country': "country='Scotland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 658344',
  'parent_country': "country='Scotland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 658346',
  'parent_country': "country='Northern Ireland|England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 658343',
  'parent_country': "country='Scotland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 655258',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 655036',
  'parent_country': "country='Europe / Denmark'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 655491',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 657217',
  'parent_country': "country='Europe / Netherlands'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 659569',
  'parent_country': "country='Europe / Netherlands'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 653226',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 657740',
  'parent_country': "country='Europe / Poland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 669982',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 670000',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 670011',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 670016',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 669999',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 670043',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 670109',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 670137',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 669580',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 669628',
  'parent_country': "country='Asia / India'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 669837',
  'parent_country': "country='Scotland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 669893',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 670304',
  'parent_country': "country='Europe / Austria'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 670085',
  'parent_country': "country='Europe / Austria'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 670684',
  'parent_country': "country='Europe / Germany'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 670578',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 670740',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 670787',
  'parent_country': "country='Northern Ireland|Europe / Spain'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 670799',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 673980',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 673936',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 674193',
  'parent_country': "country='Asia / Hong Kong'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 674682',
  'parent_country': "country='Scotland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 674736',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 674758',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 673919',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 675315',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 674652',
  'parent_country': "country='Asia / Israel'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 675740',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 675839',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 676128',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 676300',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 676371',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 676126',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 676587',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 676603',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 676699',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 676895',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 677179',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 676776',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 676775',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 677754',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 677789',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 678011',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 678053',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 679148',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 679221',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 683003',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 683203',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 683277',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 683350',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 683365',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 683673',
  'parent_country': "country='Scotland|Republic of Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 683434',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 683910',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 684512',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 684510',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 684448',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 684562',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 684554',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 684648',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 684667',
  'parent_country': "country='Scotland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 684945',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 684984',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 685146',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 685184',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 685185',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 685201',
  'parent_country': "country='Scotland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 685199',
  'parent_country': "country='Scotland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 685205',
  'parent_country': "country='Scotland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 685206',
  'parent_country': "country='Europe / Germany'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 685187',
  'parent_country': "country='Scotland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 685233',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 685236',
  'parent_country': "country='Scotland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 685235',
  'parent_country': "country='Scotland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 685296',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 685096',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 685376',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 685424',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 685469',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 685535',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 685803',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 686132',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 686667',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 686568',
  'parent_country': "country='Asia / India'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 686197',
  'parent_country': "country='Scotland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 686182',
  'parent_country': "country='Scotland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 686219',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 686181',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 686934',
  'parent_country': "country='Asia / Sri Lanka'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 686953',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 687080',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 687311',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 687535',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 687543',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 687941',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 688116',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 688161',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 688251',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 688253',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 688344',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 688330',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 688350',
  'parent_country': "country='Scotland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 688464',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 688606',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 688633',
  'parent_country': "country='Scotland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 688631',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 688765',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 688884',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 689054',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 689083',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 689240',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 689329',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 689517',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 689564',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 689817',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 689831',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 689935',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 690016',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 690126',

In [245]:
timepoint6['into_ireland_nodes'] = list(map(lambda x: {'node': x['node'].replace(' ','_'), 'country': x['country'][9:-1], 'parent_country': x['parent_country'][9:-1]}, timepoint6['into_ireland_nodes']))

In [246]:
timepoint6['into_ireland_nodes_without_ambiguous'] = list(filter(lambda x: "|" not in x['parent_country'], timepoint6['into_ireland_nodes']))

In [247]:
len(timepoint6['into_ireland_nodes_without_ambiguous'])

1323

In [248]:
timepoint_6_country_counter = collections.Counter(list(map(lambda x: x['country'], timepoint6['into_ireland_nodes'])))
timepoint_6_country_frequency = timepoint_6_country_counter.most_common()
timepoint_6_country_frequency

[('Northern Ireland', 924), ('Republic of Ireland', 424)]

In [249]:
timepoint_6_roi_parent_country_counter = collections.Counter(list(map(lambda x: x['parent_country'], filter(lambda x: x['country'] == 'Republic of Ireland', timepoint6['into_ireland_nodes']))))
timepoint_6_roi_parent_country_frequency = timepoint_6_roi_parent_country_counter.most_common()
timepoint_6_roi_parent_country_frequency

[('England', 215),
 ('Europe / Denmark', 41),
 ('Europe / Germany', 29),
 ('Europe / Switzerland', 24),
 ('Scotland', 22),
 ('Asia / India', 16),
 ('Europe / France', 9),
 ('Europe / Sweden', 9),
 ('Europe / Netherlands', 7),
 ('Wales', 6),
 ('North America / USA', 5),
 ('Europe / Poland', 4),
 ('Europe / Slovakia', 4),
 ('Asia / Israel', 3),
 ('Europe / Belgium', 2),
 ('Europe / Austria', 2),
 ('Europe / Spain', 2),
 ('Republic of Ireland|Europe / France', 2),
 ('North America / USA|England', 1),
 ('Scotland|Republic of Ireland', 1),
 ('Asia / Sri Lanka', 1),
 ('Asia / Israel|Europe / France|Europe / Slovakia', 1),
 ('North America / USA|Wales', 1),
 ('North America / USA|Republic of Ireland', 1),
 ('Europe / Netherlands|Republic of Ireland|England', 1),
 ('Asia / Thailand', 1),
 ('England|Europe / France', 1),
 ('Europe / Poland|England', 1),
 ('Europe / Germany|England', 1),
 ('Europe / Germany|Republic of Ireland', 1),
 ('Europe / France|Europe / Switzerland', 1),
 ('Europe / Slovenia', 1),
 ('Asia / Japan', 1),
 ('England|Europe / Spain', 1),
 ('Republic of Ireland|England|Wales', 1),
 ('Europe / Portugal', 1),
 ('Republic of Ireland|England', 1),
 ('Asia / Georgia', 1),
 ('Oceania / Australia', 1),
 ('Europe / Lithuania', 1)]

In [250]:
timepoint_6_ni_parent_country_counter = collections.Counter(list(map(lambda x: x['parent_country'], filter(lambda x: x['country'] == 'Northern Ireland', timepoint6['into_ireland_nodes']))))
timepoint_6_ni_parent_country_frequency = timepoint_6_ni_parent_country_counter.most_common()
timepoint_6_ni_parent_country_frequency

[('England', 595),
 ('Europe / Denmark', 98),
 ('Scotland', 89),
 ('Europe / Germany', 51),
 ('Europe / Sweden', 18),
 ('Asia / India', 12),
 ('Europe / France', 9),
 ('North America / USA', 8),
 ('Wales', 5),
 ('Europe / Poland', 5),
 ('Europe / Norway', 5),
 ('Northern Ireland|Scotland', 4),
 ('Europe / Netherlands', 3),
 ('Europe / Austria', 3),
 ('Europe / Switzerland', 3),
 ('Europe / Spain', 2),
 ('Asia / Israel', 2),
 ('Europe / Estonia', 2),
 ('Northern Ireland|England', 1),
 ('Northern Ireland|Europe / Spain', 1),
 ('Asia / Hong Kong', 1),
 ('Europe / Germany|Northern Ireland', 1),
 ('Asia / Thailand', 1),
 ('Europe / Germany|England', 1),
 ('Europe / Germany|Europe / France', 1),
 ('Oceania / Australia', 1),
 ('Oceania / New Zealand', 1),
 ('Europe / Italy', 1)]

In [251]:
timepoint_6_parent_country_counter = collections.Counter(list(map(lambda x: x['parent_country'], timepoint6['into_ireland_nodes'])))
timepoint_6_parent_country_frequency = timepoint_6_parent_country_counter.most_common()
timepoint_6_parent_country_frequency

[('England', 810),
 ('Europe / Denmark', 139),
 ('Scotland', 111),
 ('Europe / Germany', 80),
 ('Asia / India', 28),
 ('Europe / Switzerland', 27),
 ('Europe / Sweden', 27),
 ('Europe / France', 18),
 ('North America / USA', 13),
 ('Wales', 11),
 ('Europe / Netherlands', 10),
 ('Europe / Poland', 9),
 ('Europe / Austria', 5),
 ('Asia / Israel', 5),
 ('Europe / Norway', 5),
 ('Northern Ireland|Scotland', 4),
 ('Europe / Spain', 4),
 ('Europe / Slovakia', 4),
 ('Europe / Belgium', 2),
 ('Asia / Thailand', 2),
 ('Republic of Ireland|Europe / France', 2),
 ('Europe / Germany|England', 2),
 ('Oceania / Australia', 2),
 ('Europe / Estonia', 2),
 ('North America / USA|England', 1),
 ('Northern Ireland|England', 1),
 ('Northern Ireland|Europe / Spain', 1),
 ('Asia / Hong Kong', 1),
 ('Scotland|Republic of Ireland', 1),
 ('Asia / Sri Lanka', 1),
 ('Asia / Israel|Europe / France|Europe / Slovakia', 1),
 ('North America / USA|Wales', 1),
 ('North America / USA|Republic of Ireland', 1),
 ('Europe / Germany|Northern Ireland', 1),
 ('Europe / Netherlands|Republic of Ireland|England', 1),
 ('England|Europe / France', 1),
 ('Europe / Poland|England', 1),
 ('Europe / Germany|Republic of Ireland', 1),
 ('Europe / Germany|Europe / France', 1),
 ('Europe / France|Europe / Switzerland', 1),
 ('Europe / Slovenia', 1),
 ('Asia / Japan', 1),
 ('England|Europe / Spain', 1),
 ('Republic of Ireland|England|Wales', 1),
 ('Europe / Portugal', 1),
 ('Republic of Ireland|England', 1),
 ('Asia / Georgia', 1),
 ('Oceania / New Zealand', 1),
 ('Europe / Lithuania', 1),
 ('Europe / Italy', 1)]

In [252]:
timepoint_6_parent_country_frequency_df = pd.DataFrame(timepoint_6_parent_country_frequency, columns=['country','Both'])
timepoint_6_parent_country_frequency_df

                                             country  Both
0                                            England   810
1                                   Europe / Denmark   139
2                                           Scotland   111
3                                   Europe / Germany    80
4                                       Asia / India    28
5                               Europe / Switzerland    27
6                                    Europe / Sweden    27
7                                    Europe / France    18
8                                North America / USA    13
9                                              Wales    11
10                              Europe / Netherlands    10
11                                   Europe / Poland     9
12                                  Europe / Austria     5
13                                     Asia / Israel     5
14                                   Europe / Norway     5
15                         Northern Ireland|Scotland     4
16                                    Europe / Spain     4
17                                 Europe / Slovakia     4
18                                  Europe / Belgium     2
19                                   Asia / Thailand     2
20               Republic of Ireland|Europe / France     2
21                          Europe / Germany|England     2
22                               Oceania / Australia     2
23                                  Europe / Estonia     2
24                       North America / USA|England     1
25                          Northern Ireland|England     1
26                   Northern Ireland|Europe / Spain     1
27                                  Asia / Hong Kong     1
28                      Scotland|Republic of Ireland     1
29                                  Asia / Sri Lanka     1
30   Asia / Israel|Europe / France|Europe / Slovakia     1
31                         North America / USA|Wales     1
32           North America / USA|Republic of Ireland     1
33                 Europe / Germany|Northern Ireland     1
34  Europe / Netherlands|Republic of Ireland|England     1
35                           England|Europe / France     1
36                           Europe / Poland|England     1
37              Europe / Germany|Republic of Ireland     1
38                  Europe / Germany|Europe / France     1
39              Europe / France|Europe / Switzerland     1
40                                 Europe / Slovenia     1
41                                      Asia / Japan     1
42                            England|Europe / Spain     1
43                 Republic of Ireland|England|Wales     1
44                                 Europe / Portugal     1
45                       Republic of Ireland|England     1
46                                    Asia / Georgia     1
47                             Oceania / New Zealand     1
48                                Europe / Lithuania     1
49                                    Europe / Italy     1

In [253]:
timepoint_6_parent_country_frequency_df = pd.merge(timepoint_6_parent_country_frequency_df, pd.DataFrame(timepoint_6_roi_parent_country_frequency, columns=['country','RoI']), how="left", on="country")
timepoint_6_parent_country_frequency_df = pd.merge(timepoint_6_parent_country_frequency_df, pd.DataFrame(timepoint_6_ni_parent_country_frequency, columns=['country','NI']), how="left", on="country")
timepoint_6_parent_country_frequency_df[['RoI', 'NI']] = timepoint_6_parent_country_frequency_df[['RoI', 'NI']].fillna(value=0).astype(int)

In [254]:
timepoint_6_parent_country_frequency_df['country'] = timepoint_6_parent_country_frequency_df.apply(remove_continent, axis=1)

In [255]:
timepoint_6_parent_country_frequency_df

                                             country  Both  RoI   NI
0                                            England   810  215  595
1                                            Denmark   139   41   98
2                                           Scotland   111   22   89
3                                            Germany    80   29   51
4                                              India    28   16   12
5                                        Switzerland    27   24    3
6                                             Sweden    27    9   18
7                                             France    18    9    9
8                                                USA    13    5    8
9                                              Wales    11    6    5
10                                       Netherlands    10    7    3
11                                            Poland     9    4    5
12                                           Austria     5    2    3
13                                            Israel     5    3    2
14                                            Norway     5    0    5
15                         Northern Ireland|Scotland     4    0    4
16                                             Spain     4    2    2
17                                          Slovakia     4    4    0
18                                           Belgium     2    2    0
19                                          Thailand     2    1    1
20               Republic of Ireland|Europe / France     2    2    0
21                          Europe / Germany|England     2    1    1
22                                         Australia     2    1    1
23                                           Estonia     2    0    2
24                       North America / USA|England     1    1    0
25                          Northern Ireland|England     1    0    1
26                   Northern Ireland|Europe / Spain     1    0    1
27                                         Hong Kong     1    0    1
28                      Scotland|Republic of Ireland     1    1    0
29                                         Sri Lanka     1    1    0
30   Asia / Israel|Europe / France|Europe / Slovakia     1    1    0
31                         North America / USA|Wales     1    1    0
32           North America / USA|Republic of Ireland     1    1    0
33                 Europe / Germany|Northern Ireland     1    0    1
34  Europe / Netherlands|Republic of Ireland|England     1    1    0
35                           England|Europe / France     1    1    0
36                           Europe / Poland|England     1    1    0
37              Europe / Germany|Republic of Ireland     1    1    0
38                  Europe / Germany|Europe / France     1    0    1
39              Europe / France|Europe / Switzerland     1    1    0
40                                          Slovenia     1    1    0
41                                             Japan     1    1    0
42                            England|Europe / Spain     1    1    0
43                 Republic of Ireland|England|Wales     1    1    0
44                                          Portugal     1    1    0
45                       Republic of Ireland|England     1    1    0
46                                           Georgia     1    1    0
47                                       New Zealand     1    0    1
48                                         Lithuania     1    1    0
49                                             Italy     1    0    1

In [256]:
timepoint_6_parent_country_frequency_df.to_csv('../outputFiles/timepoint_6_parent_country_frequency.csv', index=False)

In [257]:
num_country_tipsTimepoint6 = strainCountryTimepoint6.groupby('country').count().reset_index()
num_country_tipsTimepoint6.rename(columns={'strain': 'num_tips'}, inplace=True)
num_country_tipsTimepoint6

                      country  num_tips
0            Africa / Algeria        22
1           Africa / Botswana        60
2           Africa / Djibouti         1
3           Africa / Ethiopia         1
4              Africa / Kenya         5
..                        ...       ...
107  South America / Colombia         1
108   South America / Curacao        72
109   South America / Ecuador         5
110      South America / Peru        17
111                     Wales     12294

[112 rows x 2 columns]

In [258]:
num_country_tipsTimepoint6['country'] = num_country_tipsTimepoint6.apply(remove_continent, axis=1)
num_country_tipsTimepoint6

      country  num_tips
0     Algeria        22
1    Botswana        60
2    Djibouti         1
3    Ethiopia         1
4       Kenya         5
..        ...       ...
107  Colombia         1
108   Curacao        72
109   Ecuador         5
110      Peru        17
111     Wales     12294

[112 rows x 2 columns]

In [259]:
timepoint_6_parent_country_frequency_df = pd.merge(num_country_tipsTimepoint6, timepoint_6_parent_country_frequency_df, how="left", on=['country']).fillna(value=0)
timepoint_6_parent_country_frequency_df

      country  num_tips  Both  RoI   NI
0     Algeria        22   0.0  0.0  0.0
1    Botswana        60   0.0  0.0  0.0
2    Djibouti         1   0.0  0.0  0.0
3    Ethiopia         1   0.0  0.0  0.0
4       Kenya         5   0.0  0.0  0.0
..        ...       ...   ...  ...  ...
107  Colombia         1   0.0  0.0  0.0
108   Curacao        72   0.0  0.0  0.0
109   Ecuador         5   0.0  0.0  0.0
110      Peru        17   0.0  0.0  0.0
111     Wales     12294  11.0  6.0  5.0

[112 rows x 5 columns]

In [260]:
timepoint_6_parent_country_frequency_df[~timepoint_6_parent_country_frequency_df['country'].isin(country_lat_long['country'])]

                 country  num_tips  Both  RoI   NI
94      Northern Ireland      5586   0.0  0.0  0.0
101  Republic of Ireland      1235   0.0  0.0  0.0

In [261]:
timepoint_6_parent_country_frequency_df = pd.merge(country_lat_long, timepoint_6_parent_country_frequency_df, how="inner", on=['country'])
timepoint_6_parent_country_frequency_df

,longitude,latitude,country,distance_from_ireland,num_tips,Both,RoI,NI
0,-103.120439,23.643948,Mexico,8231.394213,62,0.0,0.0,0.0
1,-93.566635,62.365872,Canada,4765.573313,4437,0.0,0.0,0.0
2,-64.443152,-37.605645,Argentina,11458.955064,10,0.0,0.0,0.0
3,-81.255450,-34.328238,Chile,12001.453231,72,0.0,0.0,0.0
4,-82.338976,-1.298065,Ecuador,9076.012306,5,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
105,55.532500,-21.114444,Reunion,10279.460896,132,0.0,0.0,0.0
106,-1.464854,52.561928,England,462.610475,221477,810.0,215.0,595.0
107,-4.183963,56.816738,Scotland,468.558618,56753,111.0,22.0,89.0
108,-3.766409,52.330220,Wales,320.735659,12294,11.0,6.0,5.0
109,20.850000,42.550000,Kosovo,2452.265860,7,0.0,0.0,0.0

In [262]:
timepoint_6_parent_country_frequency_df.to_csv('../outputFiles/timepoint_6_parent_country_frequency_distance.csv', index=False)

In [263]:
timepoint_6_parent_country_frequency_df[timepoint_6_parent_country_frequency_df['Both'] > 0][['country','Both']].to_csv('../outputFiles/timepoint_6_country_frequency.csv', index=False)

In [264]:
for intro in tqdm(timepoint6['into_ireland_nodes']):
    parent_clusters = []
    is_parent_in_timepoint_list(intro['node'].replace('_',' '), tree6, timepoint6['into_ireland_nodes'])
    if len(parent_clusters) > 0:
        print(intro['node'])
        print(parent_clusters)

  0%|          | 0/1348 [00:00<?, ?it/s]

In [265]:
cluster_num = 0
clusters_timepoint_f = []
for intro in tqdm(timepoint6['into_ireland_nodes']):
    cluster_num += 1
    descendant_tips = []
    find_irish_clusters(tree6.find_node_with_label(intro['node'].replace('_',' ')), descendant_tips)
    for tip in list(set(descendant_tips)):
        clusters_timepoint_f.append({'tip': tip.replace(' ','_'), 'cluster': cluster_num, 'timepoint': 'F'})

  0%|          | 0/1348 [00:00<?, ?it/s]

In [266]:
clusters_timepoint_f_df = pd.DataFrame(clusters_timepoint_f)
clusters_timepoint_f_df

                   tip  cluster timepoint
0     EPI_ISL_10943349        1         F
1     EPI_ISL_10943369        2         F
2     EPI_ISL_10632641        2         F
3     EPI_ISL_10887430        2         F
4     EPI_ISL_10585184        3         F
...                ...      ...       ...
6841  EPI_ISL_11582812     1346         F
6842  EPI_ISL_11508238     1346         F
6843  EPI_ISL_11460572     1347         F
6844  EPI_ISL_11058569     1348         F
6845  EPI_ISL_11058678     1348         F

[6846 rows x 3 columns]

In [267]:
len(clusters_timepoint_f_df['tip'].unique())

6821

In [268]:
clusters_timepoint_f_df.groupby('cluster').count().describe()

               tip    timepoint
count  1348.000000  1348.000000
mean      5.078635     5.078635
std      68.002444    68.002444
min       1.000000     1.000000
25%       1.000000     1.000000
50%       1.000000     1.000000
75%       2.000000     2.000000
max    2476.000000  2476.000000

In [269]:
clusters_timepoint_f_df.to_csv('../outputFiles/clusters/clusters_timepoint_F.csv', index=False)

In [270]:
clusters_timepoint_f_df.groupby('cluster').count().sort_values(by='tip',ascending=False)

          tip  timepoint
cluster
1311     2476       2476
1218      145        145
690       135        135
1018      117        117
1213       95         95
...       ...        ...
606         1          1
607         1          1
609         1          1
611         1          1
675         1          1

[1348 rows x 2 columns]

In [271]:
clusters_timepoint_f_df.groupby('cluster').count().reset_index().rename(columns={'tip':'irish_samples'})[['cluster','irish_samples']].to_csv('../outputFiles/clusters/clusters_timepoint_F_size.csv', index=False)

In [58]:
tree2 = dendropy.Tree.get(path="../outputFiles/timepoint2_all_pastml/named.tree_timepoint2.rooted.nwk", schema="newick")

In [59]:
tree2

In [60]:
strainCountryTimepoint2 = pd.read_csv('../outputFiles/timepoint2.strainCountry.all.txt')
strainCountryTimepoint2

                strain               country
0       EPI_ISL_402125          Asia / China
1      EPI_ISL_9388908          Asia / India
2      EPI_ISL_9388909          Asia / India
3      EPI_ISL_9388907          Asia / India
4       EPI_ISL_791809   North America / USA
...                ...                   ...
31925   EPI_ISL_829314      Europe / Iceland
31926   EPI_ISL_645965               England
31927   EPI_ISL_645964               England
31928  EPI_ISL_1311504  Europe / Netherlands
31929   EPI_ISL_744604   Europe / Luxembourg

[31930 rows x 2 columns]

In [71]:
strainCountryTimepoint2['strain'] = strainCountryTimepoint2['strain'].str.replace('_',' ')

In [72]:
into_ireland_nodes_timepoint_2 = []
between_ireland_nodes_timepoint_2 = []
roi_count_timepoint_2 = 0
ni_count_timepoint_2 = 0
for strain in tqdm(strainCountryTimepoint2[strainCountryTimepoint2['country'].isin(['Republic of Ireland','Northern Ireland'])]['strain'].to_list()):
    node = tree2.find_node_with_taxon_label(strain)
    
    if node:
        if str(node.annotations["country"]) == "country='Republic of Ireland'":
            roi_count_timepoint_2 += 1
        elif str(node.annotations["country"]) == "country='Northern Ireland'":
            ni_count_timepoint_2 += 1
        
        if str(node.parent_node.annotations["country"]) != "country='Republic of Ireland'" and str(node.parent_node.annotations["country"]) != "country='Northern Ireland'":
            into_ireland_nodes_timepoint_2.append({'node': str(node.parent_node.label), 'parent_country': str(node.parent_node.annotations["country"]), 'country': str(node.annotations["country"])})
        elif str(node.parent_node.annotations["country"]) == "country='Republic of Ireland'" and str(node.annotations["country"]) == "country='Northern Ireland'":
            between_ireland_nodes_timepoint_2.append({'node': str(node.parent_node.label), 'parent_country': str(node.parent_node.annotations["country"]), 'country': str(node.annotations["country"])})
        elif str(node.annotations["country"]) == "country='Republic of Ireland'" and str(node.parent_node.annotations["country"]) == "country='Northern Ireland'":
            between_ireland_nodes_timepoint_2.append({'node': str(node.parent_node.label), 'parent_country': str(node.parent_node.annotations["country"]), 'country': str(node.annotations["country"])})

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 511/511 [00:11<00:00, 42.91it/s]

In [73]:
roi_count_timepoint_2

215

In [74]:
ni_count_timepoint_2

296

In [75]:
len(into_ireland_nodes_timepoint_2)

28

In [76]:
len(list({v['node']:v for v in into_ireland_nodes_timepoint_2}.values()))

27

In [77]:
len(between_ireland_nodes_timepoint_2)

1

In [78]:
len(list({v['node']:v for v in between_ireland_nodes_timepoint_2}.values()))

1

In [79]:
between_ireland_nodes_timepoint_2

[{'node': 'node 105046',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"}]

In [80]:
into_ireland_nodes_timepoint_2 = list({v['node']:v for v in into_ireland_nodes_timepoint_2}.values())
into_ireland_nodes_timepoint_2

[{'node': 'node 120096',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 105921',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 105941',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 129301',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 122113',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 120391',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 109693',
  'parent_country': "country='Europe / Norway|Europe / Iceland|Europe / Lithuania|Europe / Latvia'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 108015',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 108061',
  'parent_country': "country='Scotland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 112318',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 108178',
  'parent_country': "country='Wales'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 112365',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 126355',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 118665',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 105295',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 114368',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 113695',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 127087',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 126391',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 114529',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 111971',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 117972',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 111327',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 112544',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 105788',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 112187',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 114502',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"}]

In [81]:
into_ireland_nodes_timepoint_2 = list(map(lambda x: {'node': x['node'].replace(' ','_'), 'country': x['country'][9:-1], 'parent_country': x['parent_country'][9:-1]}, into_ireland_nodes_timepoint_2))

In [82]:
into_ireland_nodes_without_ambiguous_timepoint_2 = list(filter(lambda x: "|" not in x['parent_country'], into_ireland_nodes_timepoint_2))

In [83]:
len(into_ireland_nodes_without_ambiguous_timepoint_2)

26

In [84]:
timepoint_2_country_counter = collections.Counter(list(map(lambda x: x['country'], into_ireland_nodes_timepoint_2)))
timepoint_2_country_frequency = timepoint_2_country_counter.most_common()
timepoint_2_country_frequency

[('Northern Ireland', 16), ('Republic of Ireland', 11)]

In [85]:
11/(11+16)

0.4074074074074074

In [86]:
215/(215+296)

0.4207436399217221

In [87]:
timepoint_2_parent_country_counter = collections.Counter(list(map(lambda x: x['parent_country'], into_ireland_nodes_timepoint_2)))
timepoint_2_parent_country_frequency = timepoint_2_parent_country_counter.most_common()
timepoint_2_parent_country_frequency

[('England', 24),
 ('Europe / Norway|Europe / Iceland|Europe / Lithuania|Europe / Latvia', 1),
 ('Scotland', 1),
 ('Wales', 1)]

In [89]:
24/26

0.9230769230769231

In [64]:
with open('../outputFiles/timepoint_2_parent_country_frequency.csv', 'w') as f:
    f.write('country' + ',' + 'frequency' + '\n')
    for country in timepoint_2_parent_country_frequency:
        if len(country[0].split(' / ')) > 1:
            f.write(country[0].split(' / ')[1] + ',' + str(country[1]) + '\n')
        else:
            f.write(country[0] + ',' + str(country[1]) + '\n')

In [88]:
timepoint_2_parent_country_counter = collections.Counter(list(map(lambda x: x['parent_country']+' ||| '+x['country'], into_ireland_nodes_timepoint_2)))
timepoint_2_parent_country_frequency = timepoint_2_parent_country_counter.most_common()
timepoint_2_parent_country_frequency

[('England ||| Northern Ireland', 15),
 ('England ||| Republic of Ireland', 9),
 ('Europe / Norway|Europe / Iceland|Europe / Lithuania|Europe / Latvia ||| Republic of Ireland',
  1),
 ('Scotland ||| Republic of Ireland', 1),
 ('Wales ||| Northern Ireland', 1)]

In [189]:
number_of_tips_in_tree_1 = strainCountryAll.groupby('country').count().reset_index()
number_of_tips_in_tree_1

                       country  strain
0             Africa / Algeria       3
1               Africa / Benin      12
2            Africa / Botswana       1
3        Africa / Burkina Faso       6
4            Africa / Cameroon       9
..                         ...     ...
151       South America / Peru     361
152   South America / Suriname       3
153    South America / Uruguay      32
154  South America / Venezuela       8
155                      Wales    1588

[156 rows x 2 columns]

In [192]:
number_of_tips_in_tree_1['country'] = number_of_tips_in_tree_1.apply(lambda x: x['country'].split(' / ')[1] if len(x['country'].split(' / ')) > 1 else x['country'], axis=1)

In [193]:
number_of_tips_in_tree_1

          country  strain
0         Algeria       3
1           Benin      12
2        Botswana       1
3    Burkina Faso       6
4        Cameroon       9
..            ...     ...
151          Peru     361
152      Suriname       3
153       Uruguay      32
154     Venezuela       8
155         Wales    1588

[156 rows x 2 columns]

In [198]:
number_of_tips_in_tree_1 = pd.merge(number_of_tips_in_tree_1, country_lat_long, how="left", on='country')
number_of_tips_in_tree_1

          country  strain  longitude   latitude  distance_from_ireland
0         Algeria       3   2.655846  28.350970            2915.226435
1           Benin      12   2.305715   9.503013            4961.956763
2        Botswana       1  23.857800 -22.236609            8951.399815
3    Burkina Faso       6  -1.693282  12.108709            4617.886446
4        Cameroon       9  12.948474   6.294168            5569.428751
..            ...     ...        ...        ...                    ...
151          Peru     361 -74.114162  -8.522718            9222.655323
152      Suriname       3 -55.855514   4.098724            6967.769283
153       Uruguay      32 -56.019195 -32.781950           10622.912302
154     Venezuela       8 -66.361124   7.162821            7293.305295
155         Wales    1588  -3.766409  52.330220             320.735659

[156 rows x 5 columns]

In [199]:
number_of_tips_in_tree_1.describe()

             strain   longitude    latitude  distance_from_ireland
count    156.000000  154.000000  154.000000             154.000000
mean     662.282051   15.600869   22.512840            5840.094110
std     2670.690378   60.052098   24.381939            3408.745879
min        1.000000 -127.763857  -43.657479             320.735659
25%        8.000000  -11.603323    7.776016            2722.028330
50%       30.500000   18.564862   21.922834            5758.430372
75%      294.500000   45.314011   42.689861            8131.241747
max    27699.000000  178.695173   65.187111           16220.400928

In [200]:
number_of_tips_in_tree_1[number_of_tips_in_tree_1.isna().any(axis=1)]

                 country  strain  longitude  latitude  distance_from_ireland
134     Northern Ireland     633        NaN       NaN                    NaN
139  Republic of Ireland     714        NaN       NaN                    NaN

In [69]:
tree4 = dendropy.Tree.get(path="../outputFiles/timepoint4_all_pastml/named.tree_timepoint4.rooted.nwk", schema="newick")

In [70]:
tree4

In [71]:
strainCountryTimepoint4 = pd.read_csv('../outputFiles/timepoint4.strainCountry.all.txt')
strainCountryTimepoint4

                 strain              country
0        EPI_ISL_402125         Asia / China
1       EPI_ISL_6949234  North America / USA
2       EPI_ISL_5387777  North America / USA
3       EPI_ISL_6948687  North America / USA
4       EPI_ISL_6948551  North America / USA
...                 ...                  ...
513949  EPI_ISL_3283578              England
513950  EPI_ISL_3283579              England
513951  EPI_ISL_3283580              England
513952  EPI_ISL_3283565              England
513953  EPI_ISL_7086638      Asia / Malaysia

[513954 rows x 2 columns]

In [72]:
strainCountryTimepoint4['strain'] = strainCountryTimepoint4['strain'].str.replace('_',' ')

In [73]:
into_ireland_nodes_timepoint_4 = []
between_ireland_nodes_timepoint_4 = []
roi_count_timepoint_4 = 0
ni_count_timepoint_4 = 0
for strain in tqdm(strainCountryTimepoint4[strainCountryTimepoint4['country'].isin(['Republic of Ireland','Northern Ireland'])]['strain'].to_list()):
    node = tree4.find_node_with_taxon_label(strain)
    
    if node:
        if str(node.annotations["country"]) == "country='Republic of Ireland'":
            roi_count_timepoint_4 += 1
        elif str(node.annotations["country"]) == "country='Northern Ireland'":
            ni_count_timepoint_4 += 1
        
        if str(node.parent_node.annotations["country"]) != "country='Republic of Ireland'" and str(node.parent_node.annotations["country"]) != "country='Northern Ireland'":
            into_ireland_nodes_timepoint_4.append({'node': str(node.parent_node.label), 'parent_country': str(node.parent_node.annotations["country"]), 'country': str(node.annotations["country"])})
        elif str(node.parent_node.annotations["country"]) == "country='Republic of Ireland'" and str(node.annotations["country"]) == "country='Northern Ireland'":
            between_ireland_nodes_timepoint_4.append({'node': str(node.parent_node.label), 'parent_country': str(node.parent_node.annotations["country"]), 'country': str(node.annotations["country"])})
        elif str(node.annotations["country"]) == "country='Republic of Ireland'" and str(node.parent_node.annotations["country"]) == "country='Northern Ireland'":
            between_ireland_nodes_timepoint_4.append({'node': str(node.parent_node.label), 'parent_country': str(node.parent_node.annotations["country"]), 'country': str(node.annotations["country"])})

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 8070/8070 [1:17:45<00:00,  1.73it/s]

In [74]:
roi_count_timepoint_4

4923

In [75]:
ni_count_timepoint_4

3147

In [76]:
len(into_ireland_nodes_timepoint_4)

812

In [77]:
len(list({v['node']:v for v in into_ireland_nodes_timepoint_4}.values()))

774

In [78]:
len(between_ireland_nodes_timepoint_4)

46

In [79]:
len(list({v['node']:v for v in between_ireland_nodes_timepoint_4}.values()))

46

In [80]:
between_ireland_nodes_timepoint_4

[{'node': 'node 823559',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1177753',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1121739',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1121740',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 984775',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1135191',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 984756',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 984816',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 829909',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1135190',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 975337',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1033853',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1121741',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1135020',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1131964',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 954919',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1235379',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 873178',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 954383',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1047846',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1235314',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1028777',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1037843',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1236445',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1028631',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 876781',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 958212',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 957809',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 967814',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 829953',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 995119',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 957983',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 872150',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1039367',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 957101',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 873180',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1235382',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 868965',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1034304',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 965065',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 873043',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 954377',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1000418',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 872358',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1135064',
  'parent_country': "country='Republic of Ireland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1047103',
  'parent_country': "country='Northern Ireland'",
  'country': "country='Republic of Ireland'"}]

In [87]:
timepoint_4_between_country_counter = collections.Counter(list(map(lambda x: x['country'], between_ireland_nodes_timepoint_4)))
timepoint_4_between_country_frequency = timepoint_4_between_country_counter.most_common()
timepoint_4_between_country_frequency

[("country='Northern Ireland'", 24), ("country='Republic of Ireland'", 22)]

In [81]:
into_ireland_nodes_timepoint_4 = list({v['node']:v for v in into_ireland_nodes_timepoint_4}.values())
into_ireland_nodes_timepoint_4

[{'node': 'node 836447',
  'parent_country': "country='Asia / India'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1479099',
  'parent_country': "country='Europe / Denmark|Europe / Netherlands|Republic of Ireland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1513292',
  'parent_country': "country='Asia / India'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 832846',
  'parent_country': "country='Asia / India'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 834312',
  'parent_country': "country='Asia / India'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1498667',
  'parent_country': "country='Wales'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 833057',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 823767',
  'parent_country': "country='Asia / India'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1459019',
  'parent_country': "country='Asia / India'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1509448',
  'parent_country': "country='Asia / India'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 833717',
  'parent_country': "country='Asia / India'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1129998',
  'parent_country': "country='Scotland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 823768',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1478161',
  'parent_country': "country='Europe / Belgium|Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1498792',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1039847',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1189442',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1142652',
  'parent_country': "country='Scotland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 835932',
  'parent_country': "country='Europe / France'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 979733',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 997860',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1039908',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1118081',
  'parent_country': "country='Europe / Germany'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 826014',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1498301',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1004771',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1496033',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1497972',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1188309',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1498297',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1135817',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1038878',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1127212',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 965710',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1127221',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1456702',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1145927',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 870511',
  'parent_country': "country='Europe / Spain'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 968830',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 979745',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1142470',
  'parent_country': "country='Scotland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1026385',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1188314',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1129135',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 970092',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1498298',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1120327',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 854388',
  'parent_country': "country='Africa / Uganda'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1171807',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1036837',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1119653',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 998042',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1501368',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 995820',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 926929',
  'parent_country': "country='Europe / Russia'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 991509',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1192919',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 969921',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 972319',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1236403',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1467306',
  'parent_country': "country='Asia / India'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1041640',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1173668',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1188837',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1287214',
  'parent_country': "country='Africa / Nigeria'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1191992',
  'parent_country': "country='Europe / Netherlands'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1191948',
  'parent_country': "country='Europe / Portugal'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1041415',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1041927',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1003176',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1192106',
  'parent_country': "country='Europe / Netherlands'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1116778',
  'parent_country': "country='Asia / South Korea'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 966689',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1120222',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1049908',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1043207',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1029041',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 961996',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1031759',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 954212',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1033236',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 836744',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 828543',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1193344',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1041416',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 854459',
  'parent_country': "country='Africa / Uganda'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 930567',
  'parent_country': "country='Europe / Russia'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1146197',
  'parent_country': "country='Scotland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1036519',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1038578',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 982954',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 998162',
  'parent_country': "country='Scotland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1192061',
  'parent_country': "country='Europe / Netherlands'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1192107',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1235331',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 956706',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 946107',
  'parent_country': "country='Africa / Namibia'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 836758',
  'parent_country': "country='Europe / Turkey'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 979715',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 970128',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 986832',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1129137',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1292898',
  'parent_country': "country='Europe / Germany'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 978390',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 972411',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 967006',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1003398',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 831933',
  'parent_country': "country='Europe / Spain'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1467729',
  'parent_country': "country='Europe / Netherlands'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1313722',
  'parent_country': "country='Europe / France'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 997948',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1144792',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 970079',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 914618',
  'parent_country': "country='Europe / Germany'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1000933',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1125070',
  'parent_country': "country='Europe / Denmark'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 927270',
  'parent_country': "country='Europe / Russia'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1131968',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1467343',
  'parent_country': "country='Asia / India'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1049907',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 928026',
  'parent_country': "country='Europe / Russia'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1131962',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1280106',
  'parent_country': "country='Europe / Switzerland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1292685',
  'parent_country': "country='North America / Mexico'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1242613',
  'parent_country': "country='Europe / Portugal'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1302909',
  'parent_country': "country='Africa / Nigeria'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1192087',
  'parent_country': "country='Europe / Netherlands'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1192142',
  'parent_country': "country='Europe / Portugal'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1238041',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 970164',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1488471',
  'parent_country': "country='Europe / Denmark|Europe / Italy'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 876837',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1026210',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1120798',
  'parent_country': "country='Scotland'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 831861',
  'parent_country': "country='Europe / Spain'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1184501',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1173592',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1034974',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1487993',
  'parent_country': "country='Europe / Spain'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1037215',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1358901',
  'parent_country': "country='Africa / Ghana'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1125098',
  'parent_country': "country='Europe / Sweden'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 914626',
  'parent_country': "country='Europe / Russia'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 940066',
  'parent_country': "country='Europe / Sweden'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 846455',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1487924',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1124755',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1135136',
  'parent_country': "country='Scotland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1049906',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1127240',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 933402',
  'parent_country': "country='Europe / Germany'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 965346',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1035001',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 957806',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 996513',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1498330',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1145829',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 958110',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1235914',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1192113',
  'parent_country': "country='Europe / Netherlands'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 910235',
  'parent_country': "country='Europe / France'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 877327',
  'parent_country': "country='Europe / Denmark'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1191962',
  'parent_country': "country='Europe / Netherlands'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 913091',
  'parent_country': "country='Europe / France'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1177179',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 1130370',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 836755',
  'parent_country': "country='North America / USA'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1148073',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1133387',
  'parent_country': "country='England'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1192164',
  'parent_country': "country='Europe / Netherlands'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 910120',
  'parent_country': "country='Europe / Greece'",
  'country': "country='Republic of Ireland'"},
 {'node': 'node 1130270',
  'parent_country': "country='Scotland'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 958232',
  'parent_country': "country='England'",
  'country': "country='Northern Ireland'"},
 {'node': 'node 926930',

In [82]:
into_ireland_nodes_timepoint_4 = list(map(lambda x: {'node': x['node'].replace(' ','_'), 'country': x['country'][9:-1], 'parent_country': x['parent_country'][9:-1]}, into_ireland_nodes_timepoint_4))

In [83]:
into_ireland_nodes_without_ambiguous_timepoint_4 = list(filter(lambda x: "|" not in x['parent_country'], into_ireland_nodes_timepoint_4))

In [84]:
len(into_ireland_nodes_without_ambiguous_timepoint_4)

763

In [85]:
timepoint_4_country_counter = collections.Counter(list(map(lambda x: x['country'], into_ireland_nodes_timepoint_4)))
timepoint_4_country_frequency = timepoint_4_country_counter.most_common()
timepoint_4_country_frequency

[('Northern Ireland', 475), ('Republic of Ireland', 299)]

In [85]:
11/(11+16)

0.4074074074074074

In [86]:
215/(215+296)

0.4207436399217221

In [86]:
timepoint_4_parent_country_counter = collections.Counter(list(map(lambda x: x['parent_country'], into_ireland_nodes_timepoint_4)))
timepoint_4_parent_country_frequency = timepoint_4_parent_country_counter.most_common()
timepoint_4_parent_country_frequency

[('England', 471),
 ('Europe / Spain', 43),
 ('Scotland', 29),
 ('Europe / France', 27),
 ('Asia / India', 21),
 ('Europe / Netherlands', 21),
 ('Europe / Sweden', 21),
 ('Europe / Denmark', 20),
 ('Europe / Germany', 17),
 ('North America / USA', 12),
 ('Wales', 10),
 ('Europe / Russia', 8),
 ('Europe / Portugal', 8),
 ('Europe / Italy', 8),
 ('Africa / Nigeria', 6),
 ('Europe / Switzerland', 6),
 ('Europe / Greece', 4),
 ('Republic of Ireland|England', 4),
 ('Europe / Belgium', 3),
 ('Africa / Uganda', 2),
 ('Asia / South Korea', 2),
 ('Europe / Turkey', 2),
 ('North America / Mexico', 2),
 ('Africa / Ghana', 2),
 ('Asia / Israel', 2),
 ('Europe / Denmark|Europe / Netherlands|Republic of Ireland', 1),
 ('Europe / Belgium|Europe / France', 1),
 ('Africa / Namibia', 1),
 ('Europe / Denmark|Europe / Italy', 1),
 ('Asia / Japan', 1),
 ('Asia / Indonesia', 1),
 ('Europe / Lithuania', 1),
 ('Europe / Croatia', 1),
 ('Europe / France|Northern Ireland', 1),
 ('Europe / Portugal|Republic of Ireland', 1),
 ('Africa / South Africa', 1),
 ('Europe / Austria', 1),
 ('Europe / Slovakia', 1),
 ('Europe / Norway', 1),
 ('Europe / Iceland', 1),
 ('Europe / Slovenia', 1),
 ('Asia / Kyrgyzstan', 1),
 ('Africa / Zimbabwe', 1),
 ('Northern Ireland|Scotland', 1),
 ('Africa / Kenya', 1),
 ('Wales|Northern Ireland|England', 1),
 ('Oceania / Australia', 1),
 ('Europe / Finland', 1)]